body.page-preview
{
padding-top:10px; padding-left:10px;
}
.page-preview .rnr-c-export,
  .rnr-pagewrapper .page-preview .rnr-c-export,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-c-export
{
margin-bottom:5px;
}
.page-preview .rnr-c-export,
  .rnr-pagewrapper .page-preview .rnr-c-export,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-c-export
{
min-width: 400px; display:inline-block
}
.page-preview .rnr-cw-export,
  .rnr-pagewrapper .page-preview .rnr-cw-export,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-cw-export
{
text-align: left;
}
.page-preview .rnr-b-exportheader,
  .rnr-pagewrapper .page-preview .rnr-b-exportheader,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-b-exportheader
{
white-space: nowrap;
}
.page-preview .rnr-b-exportheader,
  .rnr-pagewrapper .page-preview .rnr-b-exportheader,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-b-exportheader
{
text-align: left;
}
.page-preview .rnr-b-exportheader > *,
  .rnr-pagewrapper .page-preview .rnr-b-exportheader > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-b-exportheader > *
{
font-size: 120%;
}
.page-preview .rnr-b-exprange,
  .rnr-pagewrapper .page-preview .rnr-b-exprange,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-b-exprange
{
white-space: nowrap;
}
.page-preview .rnr-b-exprange,
  .rnr-pagewrapper .page-preview .rnr-b-exprange,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-b-exprange
{
text-align: left;
}
.page-preview .rnr-b-exprange > *,
  .rnr-pagewrapper .page-preview .rnr-b-exprange > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-b-exprange > *
{

}
.page-preview .rnr-b-expformat,
  .rnr-pagewrapper .page-preview .rnr-b-expformat,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-b-expformat
{
white-space: nowrap;
}
.page-preview .rnr-b-expformat,
  .rnr-pagewrapper .page-preview .rnr-b-expformat,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-b-expformat
{
text-align: left;
}
.page-preview .rnr-b-expformat > *,
  .rnr-pagewrapper .page-preview .rnr-b-expformat > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-b-expformat > *
{

}
.page-preview .rnr-b-expoutput,
  .rnr-pagewrapper .page-preview .rnr-b-expoutput,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-b-expoutput
{
white-space: nowrap;
}
.page-preview .rnr-b-expoutput,
  .rnr-pagewrapper .page-preview .rnr-b-expoutput,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-b-expoutput
{
text-align: left;
}
.page-preview .rnr-b-expoutput > *,
  .rnr-pagewrapper .page-preview .rnr-b-expoutput > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-b-expoutput > *
{

}
.page-preview .rnr-b-expbuttons,
  .rnr-pagewrapper .page-preview .rnr-b-expbuttons,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-b-expbuttons
{
white-space: nowrap;
}
.page-preview .rnr-b-expbuttons,
  .rnr-pagewrapper .page-preview .rnr-b-expbuttons,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-b-expbuttons
{
text-align: left;
}
.page-preview .rnr-b-expbuttons > *,
  .rnr-pagewrapper .page-preview .rnr-b-expbuttons > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-b-expbuttons > *
{

}
body.page-preview .rnr-toptable
{
width:100%;
}
body.page-preview .rnr-top
{
padding-right: 5px;
}
