<TBODY class="rnr-ff-block">
  <TR style="height: 1076px;">
    <TD class="rnr-ff-container" style="background-position: 0% 0%; width: 844px; height: 1066px; overflow: auto; border-bottom-color: currentColor; border-left-color: currentColor; border-bottom-width: 0px; border-left-width: 0px; border-bottom-style: none; border-left-style: none; position: relative; background-image: none; background-attachment: scroll; background-repeat: repeat; background-color: white;" colspan="2">
      <DIV class="rnr-ff-cwrap {$fielddispclass_ic_imobiliaria}" style="border: 1px solid rgb(132, 145, 151); border-image: none; left: 0px; top: 0px; width: 100%; text-align: center; color: rgb(102, 102, 102); line-height: normal; font-family: Verdana, sans-serif; font-size: medium; font-style: normal; font-weight: bold; position: absolute; background-color: rgb(226, 230, 231);">
        FICHA DE PESQUISA - PVG | SANTA MARIA MADALENA - SP
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_ic_imobiliaria} borda_titulo" style="left: 0px; top: 30px; width: 150px;">
        IDENTIFICAÇÃO DA PESQUISA
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_ic_imobiliaria} borda_titulo" style="left: 0px; top: 120px;">
        LOCALIZAÇÃO DO IMÓVEL
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_ic_imobiliaria} borda_titulo" style="left: 0px; top: 210px;">
        DADOS DO TERRENO
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_ic_imobiliaria} borda_titulo" style="left: 0px; top: 325px;">
        DADOS DA CONSTRUÇÃO
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_ic_imobiliaria} borda_titulo" style="left: 0px; top: 490px;">
        EQUIPAMENTOS URBANOS
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_ic_imobiliaria} borda_titulo" style="left: 0px; top: 580px;">
        DADOS DA TRANSAÇÃO
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_ic_imobiliaria} borda_titulo" style="left: 0px; top: 700px;">
        IMAGEM
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_ic_imobiliaria}" style="left: 358px; top: 55px; width: 20px; color: rgb(127, 127, 127); line-height: normal; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="ic_imobiliaria">
        {$label public_tbl_pesquisa ic_imobiliaria}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_ic_imobiliaria} rnr-ff-vcwrap" style="left: 380px; top: 55px; width: 120px; height: 20px; color: rgb(0, 0, 0); line-height: 1; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="ic_imobiliaria">
        {$ic_imobiliaria_value}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_pesquisa}" style="left: 10px; top: 55px; width: 100px; color: rgb(127, 127, 127); line-height: normal; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="pesquisa">
        {$label public_tbl_pesquisa pesquisa}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_pesquisa} rnr-ff-vcwrap" style="left: 110px; top: 55px; width: 70px; height: 20px; color: rgb(0, 0, 0); line-height: 1; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="pesquisa">
        {$pesquisa_value}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_data}" style="left: 196px; top: 55px; width: 40px; color: rgb(127, 127, 127); line-height: normal; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="data">
        {$label public_tbl_pesquisa data}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_data} rnr-ff-vcwrap" style="left: 240px; top: 55px; width: 100px; height: 20px; color: rgb(0, 0, 0); line-height: 1; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="data">
        {$data_value}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_codlog}" style="left: 10px; top: 145px; width: 60px; color: rgb(127, 127, 127); line-height: normal; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="codlog">
        {$label public_tbl_pesquisa codlog}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_codlog} rnr-ff-vcwrap" style="left: 80px; top: 144px; width: 100px; height: 21px; color: rgb(0, 0, 0); line-height: 1; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="codlog">
        {$codlog_value}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_endereco_imovel}" style="left: 202px; top: 145px; width: 90px; color: rgb(127, 127, 127); line-height: normal; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="endereco_imovel">
        {$label public_tbl_pesquisa endereco_imovel}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_endereco_imovel} rnr-ff-vcwrap" style="left: 300px; top: 144px; width: 460px; height: 20px; color: rgb(0, 0, 0); line-height: 1; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="endereco_imovel">
        {$endereco_imovel_value}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_numero}" style="left: 290px; top: 170px; width: 60px; color: rgb(127, 127, 127); line-height: normal; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="numero">
        {$label public_tbl_pesquisa numero}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_numero} rnr-ff-vcwrap" style="left: 360px; top: 170px; width: 80px; height: 21px; color: rgb(0, 0, 0); line-height: 1; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="numero">
        {$numero_value}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_complemento}" style="left: 10px; top: 170px; width: 60px; color: rgb(127, 127, 127); line-height: normal; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="complemento">
        {$label public_tbl_pesquisa complemento}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_complemento} rnr-ff-vcwrap" style="left: 70px; top: 170px; width: 200px; height: 21px; color: rgb(0, 0, 0); line-height: 1; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="complemento">
        {$complemento_value}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_bairro_loteamento}" style="left: 460px; top: 170px; width: 50px; color: rgb(127, 127, 127); line-height: normal; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="bairro_loteamento">
        {$label public_tbl_pesquisa bairro_loteamento}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_bairro_loteamento} rnr-ff-vcwrap" style="left: 510px; top: 170px; width: 250px; height: 20px; color: rgb(0, 0, 0); line-height: 1; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="bairro_loteamento">
        {$bairro_loteamento_value}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_preco}" style="left: 12px; top: 631px; width: 40px; color: rgb(127, 127, 127); line-height: normal; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="preco">
        {$label public_tbl_pesquisa preco}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_preco} rnr-ff-vcwrap" style="left: 60px; top: 630px; width: 160px; height: 20px; color: rgb(0, 0, 0); line-height: 1; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="preco">
        {$preco_value}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_condicoes_pagamento}" style="left: 258px; top: 630px; width: 100px; color: rgb(127, 127, 127); line-height: normal; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="condicoes_pagamento">
        {$label public_tbl_pesquisa condicoes_pagamento}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_condicoes_pagamento} rnr-ff-vcwrap" style="left: 340px; top: 630px; width: 260px; height: 20px; color: rgb(0, 0, 0); line-height: 1; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="condicoes_pagamento">
        {$condicoes_pagamento_value}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_documentacao}" style="left: 463px; top: 606px; width: 110px; color: rgb(127, 127, 127); line-height: normal; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="documentacao">
        {$label public_tbl_pesquisa documentacao}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_documentacao} rnr-ff-vcwrap" style="left: 580px; top: 605px; width: 180px; height: 20px; color: rgb(0, 0, 0); line-height: 1; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="documentacao">
        {$documentacao_value}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_modalidade}" style="left: 10px; top: 605px; width: 110px; color: rgb(127, 127, 127); line-height: normal; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="modalidade">
        {$label public_tbl_pesquisa modalidade}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_modalidade} rnr-ff-vcwrap" style="left: 116px; top: 605px; width: 120px; height: 20px; color: rgb(0, 0, 0); line-height: 1; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="modalidade">
        {$modalidade_value}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_data_modalidade}" style="left: 298px; top: 605px; color: rgb(127, 127, 127); line-height: normal; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="data_modalidade">
        {$label public_tbl_pesquisa data_modalidade}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_data_modalidade} rnr-ff-vcwrap" style="left: 340px; top: 605px; width: 100px; height: 20px; color: rgb(0, 0, 0); line-height: 1; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="data_modalidade">
        {$data_modalidade_value}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_fonte}" style="left: 11px; top: 655px; color: rgb(127, 127, 127); line-height: normal; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="fonte">
        {$label public_tbl_pesquisa fonte}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_fonte} rnr-ff-vcwrap" style="left: 60px; top: 655px; width: 160px; height: 20px; color: rgb(0, 0, 0); line-height: 1; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="fonte">
        {$fonte_value}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_nome_fonte}" style="left: 243px; top: 655px; color: rgb(127, 127, 127); line-height: normal; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="nome_fonte">
        {$label public_tbl_pesquisa nome_fonte}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_nome_fonte} rnr-ff-vcwrap" style="left: 340px; top: 655px; width: 180px; height: 20px; color: rgb(0, 0, 0); line-height: 1; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="nome_fonte">
        {$nome_fonte_value}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_telefone_fonte}" style="left: 542px; top: 656px; color: rgb(127, 127, 127); line-height: normal; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="telefone_fonte">
        {$label public_tbl_pesquisa telefone_fonte}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_telefone_fonte} rnr-ff-vcwrap" style="left: 660px; top: 655px; width: 100px; height: 20px; color: rgb(0, 0, 0); line-height: 1; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="telefone_fonte">
        {$telefone_fonte_value}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_zona_homogenea}" style="left: 10px; top: 285px; color: rgb(127, 127, 127); line-height: normal; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="zona_homogenea">
        {$label public_tbl_pesquisa zona_homogenea}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_zona_homogenea} rnr-ff-vcwrap" style="left: 150px; top: 285px; width: 110px; height: 20px; color: rgb(0, 0, 0); line-height: 1; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="zona_homogenea">
        {$zona_homogenea_value}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_testada}" style="left: 282px; top: 235px; color: rgb(127, 127, 127); line-height: normal; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="testada">
        {$label public_tbl_pesquisa testada}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_testada} rnr-ff-vcwrap" style="left: 350px; top: 235px; width: 170px; height: 20px; color: rgb(0, 0, 0); line-height: 1; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="testada">
        {$testada_value}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_area_terreno}" style="left: 15px; top: 235px; color: rgb(127, 127, 127); line-height: normal; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="area_terreno">
        {$label public_tbl_pesquisa area_terreno}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_area_terreno} rnr-ff-vcwrap" style="left: 118px; top: 235px; width: 160px; height: 20px; color: rgb(0, 0, 0); line-height: 1; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="area_terreno">
        {$area_terreno_value}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_forma}" style="left: 573px; top: 235px; color: rgb(127, 127, 127); line-height: normal; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="forma">
        {$label public_tbl_pesquisa forma}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_forma} rnr-ff-vcwrap" style="left: 630px; top: 235px; width: 130px; height: 20px; color: rgb(0, 0, 0); line-height: 1; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="forma">
        {$forma_value}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_topografia}" style="left: 10px; top: 260px; color: rgb(127, 127, 127); line-height: normal; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="topografia">
        {$label public_tbl_pesquisa topografia}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_topografia} rnr-ff-vcwrap" style="left: 100px; top: 260px; width: 160px; height: 20px; color: rgb(0, 0, 0); line-height: 1; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="topografia">
        {$topografia_value}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_posicao}" style="left: 282px; top: 260px; color: rgb(127, 127, 127); line-height: normal; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="posicao">
        {$label public_tbl_pesquisa posicao}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_posicao} rnr-ff-vcwrap" style="left: 350px; top: 260px; width: 170px; height: 20px; color: rgb(0, 0, 0); line-height: 1; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="posicao">
        {$posicao_value}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_benfeitoria}" style="left: 540px; top: 260px; color: rgb(127, 127, 127); line-height: normal; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="benfeitoria">
        {$label public_tbl_pesquisa benfeitoria}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_benfeitoria} rnr-ff-vcwrap" style="left: 630px; top: 260px; width: 130px; height: 20px; color: rgb(0, 0, 0); line-height: 1; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="benfeitoria">
        {$benfeitoria_value}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_agua}" style="left: 27px; top: 515px; color: rgb(127, 127, 127); line-height: normal; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="agua">
        {$label public_tbl_pesquisa agua}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_agua} rnr-ff-vcwrap" style="left: 66px; top: 515px; width: 50px; height: 20px; color: rgb(0, 0, 0); line-height: 1; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="agua">
        {$agua_value}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_pavimento}" style="left: 132px; top: 515px; color: rgb(127, 127, 127); line-height: normal; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="pavimento">
        {$label public_tbl_pesquisa pavimento}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_pavimento} rnr-ff-vcwrap" style="left: 238px; top: 515px; width: 50px; height: 20px; color: rgb(0, 0, 0); line-height: 1; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="pavimento">
        {$pavimento_value}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_iluminacao}" style="left: 304px; top: 515px; color: rgb(127, 127, 127); line-height: normal; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="iluminacao">
        {$label public_tbl_pesquisa iluminacao}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_iluminacao} rnr-ff-vcwrap" style="left: 390px; top: 515px; width: 60px; height: 20px; color: rgb(0, 0, 0); line-height: 1; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="iluminacao">
        {$iluminacao_value}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_esgoto}" style="left: 487px; top: 515px; color: rgb(127, 127, 127); line-height: normal; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="esgoto">
        {$label public_tbl_pesquisa esgoto}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_esgoto} rnr-ff-vcwrap" style="left: 543px; top: 515px; width: 50px; height: 20px; color: rgb(0, 0, 0); line-height: 1; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="esgoto">
        {$esgoto_value}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_guia_sargeta}" style="left: 611px; top: 515px; color: rgb(127, 127, 127); line-height: normal; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="guia_sargeta">
        {$label public_tbl_pesquisa guia_sargeta}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_guia_sargeta} rnr-ff-vcwrap" style="left: 710px; top: 514px; width: 50px; height: 20px; color: rgb(0, 0, 0); line-height: 1; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="guia_sargeta">
        {$guia_sargeta_value}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_energia}" style="left: 8px; top: 540px; color: rgb(127, 127, 127); line-height: normal; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="energia">
        {$label public_tbl_pesquisa energia}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_energia} rnr-ff-vcwrap" style="left: 65px; top: 540px; width: 50px; height: 20px; color: rgb(0, 0, 0); line-height: 1; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="energia">
        {$energia_value}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_drenagem}" style="left: 158px; top: 540px; color: rgb(127, 127, 127); line-height: normal; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="drenagem">
        {$label public_tbl_pesquisa drenagem}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_drenagem} rnr-ff-vcwrap" style="left: 238px; top: 540px; width: 50px; height: 20px; color: rgb(0, 0, 0); line-height: 1; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="drenagem">
        {$drenagem_value}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_telefone}" style="left: 322px; top: 540px; color: rgb(127, 127, 127); line-height: normal; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="telefone">
        {$label public_tbl_pesquisa telefone}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_telefone} rnr-ff-vcwrap" style="left: 389px; top: 540px; width: 60px; height: 20px; color: rgb(0, 0, 0); line-height: 1; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="telefone">
        {$telefone_value}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_coleta}" style="left: 457px; top: 540px; color: rgb(127, 127, 127); line-height: normal; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="coleta">
        {$label public_tbl_pesquisa coleta}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_coleta} rnr-ff-vcwrap" style="left: 543px; top: 540px; width: 50px; height: 20px; color: rgb(0, 0, 0); line-height: 1; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="coleta">
        {$coleta_value}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_transporte}" style="left: 626px; top: 540px; color: rgb(127, 127, 127); line-height: normal; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="transporte">
        {$label public_tbl_pesquisa transporte}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_transporte} rnr-ff-vcwrap" style="left: 710px; top: 540px; width: 50px; height: 20px; color: rgb(0, 0, 0); line-height: 1; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="transporte">
        {$transporte_value}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_area_iptu}" style="left: 20px; top: 350px; color: rgb(127, 127, 127); line-height: normal; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="area_iptu">
        {$label public_tbl_pesquisa area_iptu}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_area_iptu} rnr-ff-vcwrap" style="left: 132px; top: 350px; width: 90px; height: 20px; color: rgb(0, 0, 0); line-height: 1; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="area_iptu">
        {$area_iptu_value}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_area_estimada}" style="left: 230px; top: 350px; color: rgb(127, 127, 127); line-height: normal; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="area_estimada">
        {$label public_tbl_pesquisa area_estimada}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_area_estimada} rnr-ff-vcwrap" style="left: 350px; top: 350px; width: 130px; height: 20px; color: rgb(0, 0, 0); line-height: 1; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="area_estimada">
        {$area_estimada_value}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_area_atualizacao}" style="left: 500px; top: 350px; color: rgb(127, 127, 127); line-height: normal; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="area_atualizacao">
        {$label public_tbl_pesquisa area_atualizacao}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_area_atualizacao} rnr-ff-vcwrap" style="left: 630px; top: 350px; width: 130px; height: 20px; color: rgb(0, 0, 0); line-height: 1; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="area_atualizacao">
        {$area_atualizacao_value}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_classe}" style="left: 290px; top: 375px; width: 110px; color: rgb(127, 127, 127); line-height: normal; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="classe">
        {$label public_tbl_pesquisa classe}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_classe} rnr-ff-vcwrap" style="left: 350px; top: 375px; width: 200px; height: 20px; color: rgb(0, 0, 0); line-height: 1; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="classe">
        {$classe_value}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_tipologia_construtiva}" style="left: 27px; top: 375px; color: rgb(127, 127, 127); line-height: normal; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="tipologia_construtiva">
        {$label public_tbl_pesquisa tipologia_construtiva}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_tipologia_construtiva} rnr-ff-vcwrap" style="left: 100px; top: 375px; width: 170px; height: 20px; color: rgb(0, 0, 0); line-height: 1; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="tipologia_construtiva">
        {$tipologia_construtiva_value}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_padrao_construtivo}" style="left: 570px; top: 375px; color: rgb(127, 127, 127); line-height: normal; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="padrao_construtivo">
        {$label public_tbl_pesquisa padrao_construtivo}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_padrao_construtivo} rnr-ff-vcwrap" style="left: 630px; top: 375px; width: 130px; height: 20px; color: rgb(0, 0, 0); line-height: 1; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="padrao_construtivo">
        {$padrao_construtivo_value}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_conservacao}" style="left: 10px; top: 400px; color: rgb(127, 127, 127); line-height: normal; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="conservacao">
        {$label public_tbl_pesquisa conservacao}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_conservacao} rnr-ff-vcwrap" style="left: 110px; top: 400px; width: 140px; height: 20px; color: rgb(0, 0, 0); line-height: 1; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="conservacao">
        {$conservacao_value}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_estrutura}" style="left: 270px; top: 400px; color: rgb(127, 127, 127); line-height: normal; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="estrutura">
        {$label public_tbl_pesquisa estrutura}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_estrutura} rnr-ff-vcwrap" style="left: 350px; top: 400px; width: 150px; height: 20px; color: rgb(0, 0, 0); line-height: 1; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="estrutura">
        {$estrutura_value}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_dependencia}" style="left: 520px; top: 400px; color: rgb(127, 127, 127); line-height: normal; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="dependencia">
        {$label public_tbl_pesquisa dependencia}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_dependencia} rnr-ff-vcwrap" style="left: 630px; top: 400px; width: 130px; height: 20px; color: rgb(0, 0, 0); line-height: 1; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="dependencia">
        {$dependencia_value}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_elevador}" style="left: 32px; top: 425px; color: rgb(127, 127, 127); line-height: normal; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="elevador">
        {$label public_tbl_pesquisa elevador}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_elevador} rnr-ff-vcwrap" style="left: 100px; top: 425px; width: 190px; height: 20px; color: rgb(0, 0, 0); line-height: 1; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="elevador">
        {$elevador_value}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_vao}" style="left: 310px; top: 425px; color: rgb(127, 127, 127); line-height: normal; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="vao">
        {$label public_tbl_pesquisa vao}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_vao} rnr-ff-vcwrap" style="left: 350px; top: 425px; width: 180px; height: 20px; color: rgb(0, 0, 0); line-height: 1; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="vao">
        {$vao_value}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_cobertura}" style="left: 550px; top: 425px; color: rgb(127, 127, 127); line-height: normal; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="cobertura">
        {$label public_tbl_pesquisa cobertura}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_cobertura} rnr-ff-vcwrap" style="left: 630px; top: 425px; width: 130px; height: 20px; color: rgb(0, 0, 0); line-height: 1; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="cobertura">
        {$cobertura_value}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_condominio}" style="left: 10px; top: 450px; color: rgb(127, 127, 127); line-height: normal; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="condominio">
        {$label public_tbl_pesquisa condominio}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_condominio} rnr-ff-vcwrap" style="left: 100px; top: 450px; width: 110px; height: 20px; color: rgb(0, 0, 0); line-height: 1; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="condominio">
        {$condominio_value}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_idade_edificacao}" style="left: 230px; top: 450px; color: rgb(127, 127, 127); line-height: normal; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="idade_edificacao">
        {$label public_tbl_pesquisa idade_edificacao}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_idade_edificacao} rnr-ff-vcwrap" style="left: 320px; top: 450px; width: 80px; height: 20px; color: rgb(0, 0, 0); line-height: 1; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="idade_edificacao">
        {$idade_edificacao_value}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_qt_dormitorio}" style="left: 420px; top: 450px; color: rgb(127, 127, 127); line-height: normal; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="qt_dormitorio">
        {$label public_tbl_pesquisa qt_dormitorio}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_qt_dormitorio} rnr-ff-vcwrap" style="left: 530px; top: 450px; width: 60px; height: 20px; color: rgb(0, 0, 0); line-height: 1; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="qt_dormitorio">
        {$qt_dormitorio_value}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_qt_banheiro}" style="left: 610px; top: 450px; color: rgb(127, 127, 127); line-height: normal; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="qt_banheiro">
        {$label public_tbl_pesquisa qt_banheiro}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_qt_banheiro} rnr-ff-vcwrap" style="left: 710px; top: 450px; width: 50px; height: 20px; color: rgb(0, 0, 0); line-height: 1; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="qt_banheiro">
        {$qt_banheiro_value}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_observacao}" style="left: 10px; top: 80px; height: 10px; color: rgb(127, 127, 127); line-height: normal; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="observacao">
        {$label public_tbl_pesquisa observacao}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_observacao} rnr-ff-vcwrap" style="left: 110px; top: 80px; width: 680px; height: 20px; color: rgb(0, 0, 0); line-height: 1; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="observacao">
        {$observacao_value}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_cadastrador}" style="left: 520px; top: 55px; color: rgb(127, 127, 127); line-height: normal; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="cadastrador">
        {$label public_tbl_pesquisa cadastrador}
      </DIV>
      <DIV class="rnr-ff-cwrap {$fielddispclass_cadastrador} rnr-ff-vcwrap" style="left: 620px; top: 55px; width: 150px; height: 20px; color: rgb(0, 0, 0); line-height: 1; font-family: Verdana, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="cadastrador">
        {$cadastrador_value}
      </DIV>
      <DIV class="rnr-ff-cwrap rnr-ff-vcwrap" style="margin: 0px; padding: 0px; left: 10px; top: 730px; width: 240px; height: auto; position: absolute;">
        {$foto_print_value}
      </DIV>
      <DIV class="rnr-ff-cwrap rnr-ff-vcwrap" style="margin: 0px; padding: 0px; left: 350px; top: 285px; width: 170px; height: auto; font-family: Verdana; font-size: small; font-weight: bold; position: absolute;">
        {$ocupacao_value}
      </DIV>
      <DIV class="rnr-ff-cwrap" style="margin: 0px; padding: 0px; left: 270px; top: 286px; width: auto; height: auto; color: rgb(127, 127, 127); font-family: Verdana; font-size: small; font-weight: bold; position: absolute;">
        {$label public_tbl_pesquisa ocupacao}
      </DIV>
    </TD>
  </TR>
</TBODY>
