<DIV class="rnr-ff-block rnr-ff-container" style="background-position: 0% 0%; width: 1723px; height: 603px; overflow: auto; position: relative; background-image: none; background-attachment: scroll; background-repeat: repeat; background-color: transparent;">
  <DIV class="rnr-ff-cwrap {$fielddispclass_ic_imobiliaria}" style="left: 340px; top: 40px; line-height: 16.65pt; font-family: Arial, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="ic_imobiliaria">
    {$label public_tbl_pesquisa ic_imobiliaria}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_ic_imobiliaria}" style="left: 340px; top: 60px; width: 170px; line-height: 1; font-family: Arial, sans-serif; font-size: medium; font-style: normal; font-weight: 400; position: absolute;" data-fieldname="ic_imobiliaria">
    {$ic_imobiliaria_editcontrol}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_pesquisa}" style="left: 50px; top: 40px; line-height: 16.65pt; font-family: Arial, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="pesquisa">
    {$label public_tbl_pesquisa pesquisa}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_pesquisa}" style="left: 50px; top: 60px; width: 50px; line-height: 1; font-family: Arial, sans-serif; font-size: medium; font-style: normal; font-weight: 400; position: absolute;" data-fieldname="pesquisa">
    {$pesquisa_editcontrol}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_data}" style="left: 160px; top: 40px; line-height: 16.65pt; font-family: Arial, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="data">
    {$label public_tbl_pesquisa data}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_data}" style="left: 160px; top: 60px; width: 120px; line-height: 1; font-family: Arial, sans-serif; font-size: medium; font-style: normal; font-weight: 400; position: absolute;" data-fieldname="data">
    {$data_editcontrol}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_codlog}" style="left: 50px; top: 110px; line-height: 16.65pt; font-family: Arial, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="codlog">
    {$label public_tbl_pesquisa codlog}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_codlog}" style="left: 50px; top: 130px; width: 80px; line-height: 1; font-family: Arial, sans-serif; font-size: medium; font-style: normal; font-weight: 400; position: absolute;" data-fieldname="codlog">
    {$codlog_editcontrol}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_endereco_imovel}" style="left: 160px; top: 110px; line-height: 16.65pt; font-family: Arial, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="endereco_imovel">
    {$label public_tbl_pesquisa endereco_imovel}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_endereco_imovel}" style="left: 160px; top: 130px; width: 550px; line-height: 1; font-family: Arial, sans-serif; font-size: medium; font-style: normal; font-weight: 400; position: absolute;" data-fieldname="endereco_imovel">
    {$endereco_imovel_editcontrol}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_numero}" style="left: 50px; top: 180px; line-height: 16.65pt; font-family: Arial, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="numero">
    {$label public_tbl_pesquisa numero}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_numero}" style="left: 50px; top: 200px; width: 80px; line-height: 1; font-family: Arial, sans-serif; font-size: medium; font-style: normal; font-weight: 400; position: absolute;" data-fieldname="numero">
    {$numero_editcontrol}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_complemento}" style="left: 160px; top: 180px; line-height: 16.65pt; font-family: Arial, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="complemento">
    {$label public_tbl_pesquisa complemento}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_complemento}" style="left: 160px; top: 200px; width: 180px; line-height: 1; font-family: Arial, sans-serif; font-size: medium; font-style: normal; font-weight: 400; position: absolute;" data-fieldname="complemento">
    {$complemento_editcontrol}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_bairro_loteamento}" style="left: 380px; top: 180px; line-height: 16.65pt; font-family: Arial, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="bairro_loteamento">
    {$label public_tbl_pesquisa bairro_loteamento}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_bairro_loteamento}" style="left: 380px; top: 200px; width: 330px; line-height: 1; font-family: Arial, sans-serif; font-size: medium; font-style: normal; font-weight: 400; position: absolute;" data-fieldname="bairro_loteamento">
    {$bairro_loteamento_editcontrol}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_preco}" style="left: 50px; top: 260px; line-height: 16.65pt; font-family: Arial, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="preco">
    {$label public_tbl_pesquisa preco}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_preco}" style="left: 50px; top: 280px; width: 160px; line-height: 1; font-family: Arial, sans-serif; font-size: medium; font-style: normal; font-weight: 400; position: absolute;" data-fieldname="preco">
    {$preco_editcontrol}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_condicoes_pagamento}" style="left: 240px; top: 260px; line-height: 16.65pt; font-family: Arial, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="condicoes_pagamento">
    {$label public_tbl_pesquisa condicoes_pagamento}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_condicoes_pagamento}" style="left: 240px; top: 280px; width: 150px; line-height: 1; font-family: Arial, sans-serif; font-size: medium; font-style: normal; font-weight: 400; position: absolute;" data-fieldname="condicoes_pagamento">
    {$condicoes_pagamento_editcontrol}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_documentacao}" style="left: 430px; top: 260px; line-height: 16.65pt; font-family: Arial, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="documentacao">
    {$label public_tbl_pesquisa documentacao}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_documentacao}" style="left: 430px; top: 280px; width: 280px; line-height: 1; font-family: Arial, sans-serif; font-size: medium; font-style: normal; font-weight: 400; position: absolute;" data-fieldname="documentacao">
    {$documentacao_editcontrol}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_modalidade}" style="left: 50px; top: 340px; line-height: 16.65pt; font-family: Arial, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="modalidade">
    {$label public_tbl_pesquisa modalidade}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_modalidade}" style="left: 50px; top: 360px; width: 420px; line-height: 1; font-family: Arial, sans-serif; font-size: medium; font-style: normal; font-weight: 400; position: absolute;" data-fieldname="modalidade">
    {$modalidade_editcontrol}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_data_modalidade}" style="left: 500px; top: 340px; line-height: 16.65pt; font-family: Arial, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="data_modalidade">
    {$label public_tbl_pesquisa data_modalidade}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_data_modalidade} ff-focus" style="left: 500px; top: 360px; line-height: 1; font-family: Arial, sans-serif; font-size: medium; font-style: normal; font-weight: 400; position: absolute;" data-fieldname="data_modalidade">
    {$data_modalidade_editcontrol}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_fonte}" style="left: 50px; top: 440px; line-height: 16.65pt; font-family: Arial, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="fonte">
    {$label public_tbl_pesquisa fonte}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_fonte}" style="left: 50px; top: 460px; width: 420px; line-height: 1; font-family: Arial, sans-serif; font-size: medium; font-style: normal; font-weight: 400; position: absolute;" data-fieldname="fonte">
    {$fonte_editcontrol}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_nome_fonte}" style="left: 60px; top: 500px; line-height: 16.65pt; font-family: Arial, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="nome_fonte">
    {$label public_tbl_pesquisa nome_fonte}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_nome_fonte}" style="left: 50px; top: 520px; width: 420px; line-height: 1; font-family: Arial, sans-serif; font-size: medium; font-style: normal; font-weight: 400; position: absolute;" data-fieldname="nome_fonte">
    {$nome_fonte_editcontrol}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_telefone_fonte}" style="left: 500px; top: 500px; line-height: 16.65pt; font-family: Arial, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="telefone_fonte">
    {$label public_tbl_pesquisa telefone_fonte}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_telefone_fonte}" style="left: 500px; top: 520px; line-height: 1; font-family: Arial, sans-serif; font-size: medium; font-style: normal; font-weight: 400; position: absolute;" data-fieldname="telefone_fonte">
    {$telefone_fonte_editcontrol}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_zona_homogenea}" style="left: 580px; top: 40px; line-height: 16.65pt; font-family: Arial, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="zona_homogenea">
    {$label public_tbl_pesquisa zona_homogenea}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_zona_homogenea}" style="left: 580px; top: 60px; width: 130px; line-height: 1; font-family: Arial, sans-serif; font-size: medium; font-style: normal; font-weight: 400; position: absolute;" data-fieldname="zona_homogenea">
    {$zona_homogenea_editcontrol}
  </DIV>
</DIV>
