.CityCity.rnr-s-empty > .rnr-c
{
background:none;

}
.CityCity.rnr-s-empty > .rnr-c .rnr-leftbricks
{
margin-right: 10px;
}
.CityCity.rnr-s-empty > .rnr-c .rnr-rightbricks
{
margin-left: 10px;
}
.CityCity.rnr-s-empty > :not(.runner-c) > *.style1,
.CityCity.rnr-s-empty > * > :not(.rnr-b-wrapper) .style1
{
color: #333333;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CityCity.rnr-s-empty > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.CityCity.rnr-s-empty > * > :not(.rnr-b-wrapper) .style1,
.CityCity.rnr-s-empty > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 7px;
}
.CityCity.rnr-s-empty > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.CityCity.rnr-s-empty > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.CityCity.rnr-s-empty > :not(.runner-c) > *.style2,
.CityCity.rnr-s-empty > * > :not(.rnr-b-wrapper) .style2
{
color: #333333;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CityCity.rnr-s-empty > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.CityCity.rnr-s-empty > * > :not(.rnr-b-wrapper) .style2,
.CityCity.rnr-s-empty > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.CityCity.rnr-s-empty > :not(.runner-c) > *.style3,
.CityCity.rnr-s-empty > * > :not(.rnr-b-wrapper) .style3
{
color: #333333;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CityCity.rnr-s-empty > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.CityCity.rnr-s-empty > * > :not(.rnr-b-wrapper) .style3,
.CityCity.rnr-s-empty > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.CityCity.rnr-s-menu > :not(.runner-c) > *.style1,
.CityCity.rnr-s-menu > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #696969;color: #FFFFFF;
font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CityCity.rnr-s-menu > .rnr-c.rnr-ch
{
background-image: none; background-color: #696969;
}
.CityCity.rnr-s-menu > :not(.runner-c) > *.style2,
.CityCity.rnr-s-menu > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #343434;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CityCity.rnr-s-menu > :not(.runner-c) > *.style3,
.CityCity.rnr-s-menu > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #444444;color: #DCDCDC;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CityCity.rnr-s-menu > .rnr-c .rnr-leftbricks
{
margin-right: 0px;
}
.CityCity.rnr-s-menu > .rnr-c .rnr-rightbricks
{
margin-left: 0px;
}
.CityCity.rnr-s-menu > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.CityCity.rnr-s-menu > * > :not(.rnr-b-wrapper) .style1,
.CityCity.rnr-s-menu > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 8px;
}
.CityCity.rnr-s-menu > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.CityCity.rnr-s-menu > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.CityCity.rnr-s-menu > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.CityCity.rnr-s-menu > * > :not(.rnr-b-wrapper) .style2,
.CityCity.rnr-s-menu > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.CityCity.rnr-s-menu > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.CityCity.rnr-s-menu > * > :not(.rnr-b-wrapper) .style3,
.CityCity.rnr-s-menu > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.CityCity.rnr-s-hmenu > .rnr-c
{
background:none;

}
.CityCity.rnr-s-hmenu > .rnr-c .rnr-leftbricks
{
margin-right: 10px;
}
.CityCity.rnr-s-hmenu > .rnr-c .rnr-rightbricks
{
margin-left: 10px;
}
.CityCity.rnr-s-hmenu > :not(.runner-c) > *.style1,
.CityCity.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style1
{
color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CityCity.rnr-s-hmenu > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.CityCity.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style1,
.CityCity.rnr-s-hmenu > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 6px 4px;
}
.CityCity.rnr-s-hmenu > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.CityCity.rnr-s-hmenu > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.CityCity.rnr-s-hmenu > :not(.runner-c) > *.style2,
.CityCity.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style2
{
color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CityCity.rnr-s-hmenu > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.CityCity.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style2,
.CityCity.rnr-s-hmenu > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.CityCity.rnr-s-hmenu > :not(.runner-c) > *.style3,
.CityCity.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style3
{
color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CityCity.rnr-s-hmenu > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.CityCity.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style3,
.CityCity.rnr-s-hmenu > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.CityCity.rnr-s-undermenu > .rnr-c
{
border-top-right-radius: 2px;border-top-left-radius: 2px;border-bottom-right-radius: 2px;border-bottom-left-radius: 2px;
}
.CityCity.rnr-s-undermenu > .rnr-ch > .rnr-b-hmenu:first-child
{
border-top-right-radius: 2px; padding-right: 1px;
border-bottom-right-radius: 2px; padding-right: 1px;

}
.CityCity.rnr-s-undermenu > .rnr-ch> .rnr-b-hmenu:last-child
{
border-top-left-radius: 2px; padding-left: 1px;
border-bottom-left-radius: 2px; padding-left: 1px;

}
.CityCity.rnr-s-undermenu > :not(.runner-c) > *.style1,
.CityCity.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #343434;color: #FFFFFF;
font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CityCity.rnr-s-undermenu > .rnr-c.rnr-ch
{
background-image: none; background-color: #343434;
}
.CityCity.rnr-s-undermenu > :not(.runner-c) > *.style2,
.CityCity.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #FFFF00;color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CityCity.rnr-s-undermenu > :not(.runner-c) > *.style3,
.CityCity.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #FFFF00;color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CityCity.rnr-s-undermenu > .rnr-c .rnr-leftbricks
{
margin-right: 2px;
}
.CityCity.rnr-s-undermenu > .rnr-c .rnr-rightbricks
{
margin-left: 2px;
}
.CityCity.rnr-s-undermenu > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.CityCity.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style1,
.CityCity.rnr-s-undermenu > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 10px 4px;
}
.CityCity.rnr-s-undermenu > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 2px; background:transparent;
}
.CityCity.rnr-s-undermenu > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 2px; background:transparent;
}
.CityCity.rnr-s-undermenu > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.CityCity.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style2,
.CityCity.rnr-s-undermenu > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.CityCity.rnr-s-undermenu > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.CityCity.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style3,
.CityCity.rnr-s-undermenu > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.CityCity.rnr-s-fields > .rnr-c
{
border: solid #6699CC 1px;
}
.CityCity.rnr-s-fields > :not(.runner-c) > *.style1,
.CityCity.rnr-s-fields > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #FFFFFF;color: #333381;
font-family: Tahoma, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CityCity.rnr-s-fields > .rnr-c.rnr-ch
{
background-image: none; background-color: #FFFFFF;
}
.CityCity.rnr-s-fields > :not(.runner-c) > *.style2,
.CityCity.rnr-s-fields > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #407EBD;color: #FFFFFF;
font-family: Avant Garde, sans-serif; font-size: 14px; font-weight: bold; font-style: normal; text-decoration: none;
}
.CityCity.rnr-s-fields > :not(.runner-c) > *.style3,
.CityCity.rnr-s-fields > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #FFFFFF;color: #696969;
font-family: Tahoma, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CityCity.rnr-s-fields > .rnr-c .rnr-leftbricks
{
margin-right: 0px;
}
.CityCity.rnr-s-fields > .rnr-c .rnr-rightbricks
{
margin-left: 0px;
}
.CityCity.rnr-s-fields > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.CityCity.rnr-s-fields > * > :not(.rnr-b-wrapper) .style1,
.CityCity.rnr-s-fields > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 6px;
}
.CityCity.rnr-s-fields > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.CityCity.rnr-s-fields > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.CityCity.rnr-s-fields > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.CityCity.rnr-s-fields > * > :not(.rnr-b-wrapper) .style2,
.CityCity.rnr-s-fields > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 8px 10px;
}
.CityCity.rnr-s-fields > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.CityCity.rnr-s-fields > * > :not(.rnr-b-wrapper) .style3,
.CityCity.rnr-s-fields > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.CityCity.rnr-s-form > .rnr-c
{
border-top-right-radius: 10px;border-top-left-radius: 10px;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;
}
.CityCity.rnr-s-form > .rnr-ch > .rnr-b-hmenu:first-child
{
border-top-right-radius: 10px; padding-right: 5px;
border-bottom-right-radius: 10px; padding-right: 5px;

}
.CityCity.rnr-s-form > .rnr-ch> .rnr-b-hmenu:last-child
{
border-top-left-radius: 10px; padding-left: 5px;
border-bottom-left-radius: 10px; padding-left: 5px;

}
.CityCity.rnr-s-form > :not(.runner-c) > *.style1,
.CityCity.rnr-s-form > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #00CCCC;color: #000080;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CityCity.rnr-s-form > .rnr-c.rnr-ch
{
background-image: none; background-color: #00CCCC;
}
.CityCity.rnr-s-form > :not(.runner-c) > *.style2,
.CityCity.rnr-s-form > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #004080;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CityCity.rnr-s-form > :not(.runner-c) > *.style3,
.CityCity.rnr-s-form > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #6699CC;color: #003366;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CityCity.rnr-s-form > .rnr-c .rnr-leftbricks
{
margin-right: 10px;
}
.CityCity.rnr-s-form > .rnr-c .rnr-rightbricks
{
margin-left: 10px;
}
.CityCity.rnr-s-form > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.CityCity.rnr-s-form > * > :not(.rnr-b-wrapper) .style1,
.CityCity.rnr-s-form > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.CityCity.rnr-s-form > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.CityCity.rnr-s-form > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.CityCity.rnr-s-form > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.CityCity.rnr-s-form > * > :not(.rnr-b-wrapper) .style2,
.CityCity.rnr-s-form > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.CityCity.rnr-s-form > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.CityCity.rnr-s-form > * > :not(.rnr-b-wrapper) .style3,
.CityCity.rnr-s-form > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.CityCity.rnr-s-1 > .rnr-c
{
border: solid #DCDCDC 1px;
}
.CityCity.rnr-s-1 > :not(.runner-c) > *.style1,
.CityCity.rnr-s-1 > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #F9F9F9;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CityCity.rnr-s-1 > .rnr-c.rnr-ch
{
background-image: none; background-color: #F9F9F9;
}
.CityCity.rnr-s-1 > :not(.runner-c) > *.style2,
.CityCity.rnr-s-1 > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #407EBD;color: #FFFFFF;
font-family: Avant Garde, sans-serif; font-size: 14px; font-weight: bold; font-style: normal; text-decoration: none;
}
.CityCity.rnr-s-1 > :not(.runner-c) > *.style3,
.CityCity.rnr-s-1 > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #6699CC;color: #D1EEEE;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CityCity.rnr-s-1 > .rnr-c .rnr-leftbricks
{
margin-right: 0px;
}
.CityCity.rnr-s-1 > .rnr-c .rnr-rightbricks
{
margin-left: 0px;
}
.CityCity.rnr-s-1 > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.CityCity.rnr-s-1 > * > :not(.rnr-b-wrapper) .style1,
.CityCity.rnr-s-1 > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.CityCity.rnr-s-1 > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.CityCity.rnr-s-1 > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.CityCity.rnr-s-1 > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.CityCity.rnr-s-1 > * > :not(.rnr-b-wrapper) .style2,
.CityCity.rnr-s-1 > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 6px 10px;
}
.CityCity.rnr-s-1 > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.CityCity.rnr-s-1 > * > :not(.rnr-b-wrapper) .style3,
.CityCity.rnr-s-1 > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.CityCity.rnr-s-2 > :not(.runner-c) > *.style1,
.CityCity.rnr-s-2 > * > :not(.rnr-b-wrapper) .style1
{
background-color: #F9F9F9;
background: linear-gradient(0.000000turn, #FCFCFC, #F9F9F9);
;
color: #333333;
font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CityCity.rnr-s-2 > .rnr-c.rnr-ch
{
background-color: #F9F9F9;
background: linear-gradient(0.000000turn, #FCFCFC, #F9F9F9);
;

}
.CityCity.rnr-s-2 > :not(.runner-c) > *.style2,
.CityCity.rnr-s-2 > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #3366FF;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CityCity.rnr-s-2 > :not(.runner-c) > *.style3,
.CityCity.rnr-s-2 > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #6699CC;color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CityCity.rnr-s-2 > .rnr-c .rnr-leftbricks
{
margin-right: 0px;
}
.CityCity.rnr-s-2 > .rnr-c .rnr-rightbricks
{
margin-left: 0px;
}
.CityCity.rnr-s-2 > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.CityCity.rnr-s-2 > * > :not(.rnr-b-wrapper) .style1,
.CityCity.rnr-s-2 > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 7px 4px;
}
.CityCity.rnr-s-2 > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.CityCity.rnr-s-2 > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.CityCity.rnr-s-2 > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.CityCity.rnr-s-2 > * > :not(.rnr-b-wrapper) .style2,
.CityCity.rnr-s-2 > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.CityCity.rnr-s-2 > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.CityCity.rnr-s-2 > * > :not(.rnr-b-wrapper) .style3,
.CityCity.rnr-s-2 > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.CityCity.rnr-s-3 > :not(.runner-c) > *.style1,
.CityCity.rnr-s-3 > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #343434;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CityCity.rnr-s-3 > .rnr-c.rnr-ch
{
background-image: none; background-color: #343434;
}
.CityCity.rnr-s-3 > :not(.runner-c) > *.style2,
.CityCity.rnr-s-3 > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #2E5C8B;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CityCity.rnr-s-3 > :not(.runner-c) > *.style3,
.CityCity.rnr-s-3 > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #004080;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CityCity.rnr-s-3 > .rnr-c .rnr-leftbricks
{
margin-right: 0px;
}
.CityCity.rnr-s-3 > .rnr-c .rnr-rightbricks
{
margin-left: 0px;
}
.CityCity.rnr-s-3 > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.CityCity.rnr-s-3 > * > :not(.rnr-b-wrapper) .style1,
.CityCity.rnr-s-3 > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 6px 6px;
}
.CityCity.rnr-s-3 > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.CityCity.rnr-s-3 > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.CityCity.rnr-s-3 > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.CityCity.rnr-s-3 > * > :not(.rnr-b-wrapper) .style2,
.CityCity.rnr-s-3 > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 8px;
}
.CityCity.rnr-s-3 > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.CityCity.rnr-s-3 > * > :not(.rnr-b-wrapper) .style3,
.CityCity.rnr-s-3 > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.CityCity.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow:first-child > th:not(.rnr-cs),
.CityCity.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow:first-child > th:not(.rnr-cs),
.CityCity.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow:first-child > td:not(.rnr-cs),
.CityCity.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow:first-child > td:not(.rnr-cs)
{
border-top: solid #D8DCDE 1px;

}
.CityCity.rnr-s-grid > table:not(.runner-c):not(.vertical) > tbody > tr:last-child > td:not(.rnr-cs),
.CityCity.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > tbody > tr:last-child > td:not(.rnr-cs)
{
border-bottom: solid #D8DCDE 1px;

}
.CityCity.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > * > td:first-child,
.CityCity.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > * > td:first-child,
.CityCity.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > * > th:first-child,
.CityCity.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > * > th:first-child,
.CityCity.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > * > *.rnr-cs + td,
.CityCity.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > * > *.rnr-cs + td,
.CityCity.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > * > *.rnr-cs + th,
.CityCity.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > * > *.rnr-cs + th
{
border-right: solid #D8DCDE 1px;

}
.CityCity.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > * > *.rnr-edge,
.CityCity.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > * > *.rnr-edge
{
border-left: solid #D8DCDE 1px;

}
.CityCity.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow > th:not(.rnr-cs),
.CityCity.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow > th:not(.rnr-cs),
.CityCity.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow > td:not(.rnr-cs),
.CityCity.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow > td:not(.rnr-cs)
{
background-color: #16589C; background-image: none;font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; font-style: normal; text-decoration: none;color: #FFFFFF;padding: 5px 4px;
}
.CityCity.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-bottomrow > td:not(.rnr-cs),
.CityCity.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-bottomrow > td:not(.rnr-cs)
{
background-color: #DCE2E6; background-image: none;font-family: Arial, sans-serif; font-size: 11px; font-weight: normal; font-style: normal; text-decoration: none;color: #333333;padding: 5px 4px;
}
.CityCity.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-row > td:not(.rnr-cs),
.CityCity.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-row > td:not(.rnr-cs)
{
background-color: #F7F7F7; background-image: none;font-family: Verdana, sans-serif; font-size: 11px; font-weight: normal; font-style: normal; text-decoration: none;color: #333333;color: #333333;padding: 5px 8px;
}
.CityCity.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-row:nth-last-child(2n+1) > td:not(.rnr-cs),
.CityCity.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-row:nth-last-child(2n+1) > td:not(.rnr-cs)
{
background-color: #FFFFFF; background-image: none;color: #333333;
}
.CityCity.rnr-s-grid > table:not(.runner-c):not(.vertical).hoverable > * > .rnr-row:hover > td:not(.rnr-cs),
.CityCity.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord.hoverable > * > .rnr-row:hover > td:not(.rnr-cs),
.CityCity.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-row > td.rnr-selected,
.CityCity.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-row > td.rnr-selected
{
background-color: #DCDCDC; background-image: none;color: #333333;
}
.CityCity.rnr-s-grid > table:not(.runner-c):not(.vertical).hoverable > * > .rnr-row:hover:nth-last-child(2n+1) > td:not(.rnr-cs),
.CityCity.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord.hoverable > * > .rnr-row:hover:nth-last-child(2n+1) > td:not(.rnr-cs),
.CityCity.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-row:nth-last-child(2n+1) > td.rnr-selected,
.CityCity.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-row:nth-last-child(2n+1) > td.rnr-selected
{
background-color: #C0C0C0; background-image: none;color: #333333;
}
.CityCity.rnr-s-grid > table:not(.runner-c):not(.vertical) > thead > tr:last-child > th:not(.rnr-cs),
.CityCity.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > thead > tr:last-child > th:not(.rnr-cs)
{
border-bottom: solid #D8DCDE 1px;

}
.CityCity.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > tr.rnr-row > td:not(.rnr-cs),
.CityCity.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > tr.rnr-row > td:not(.rnr-cs)
{
border-top: solid #D8DCDE 1px;

}
.CityCity.rnr-s-grid > table:not(.runner-c):not(.vertical) > tbody > tr:not(.rnr-bottomrow) + .rnr-bottomrow > td:not(.rnr-cs),
.CityCity.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > tbody > tr:not(.rnr-bottomrow) + .rnr-bottomrow > td:not(.rnr-cs)
{
border-top: solid #D8DCDE 1px;

}
.CityCity .rnr-search-highlight
{
color: #FF0000; background-color: transparent;
}
.CityCity .rnr-b-vmenu.simple.main > *,
.CityCity .rnr-b-vmenu.tree.main > *:not(.subitem)
{
background-image:none; background-color: #343434;color:#FFFFFF;font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CityCity .rnr-b-vmenu.simple.main > * > hr,
.CityCity .rnr-b-vmenu.tree.main > *:not(.subitem) > hr
{
border-color:#FFFFFF;
}
.CityCity .rnr-b-vmenu.simple.main > *:hover:not(.expanded):not(.menuSeparator),
.CityCity .rnr-b-vmenu.tree.main > *:not(.subitem):not(.manage):hover:not(.menuSeparator)
{
background-image:none; background-color: #343434;color:#9D9D9D;font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CityCity .rnr-b-vmenu.simple.main > *.current.current.current,
.CityCity .rnr-b-vmenu.tree.main > *:not(.subitem).current.current.current
{
background-image:none; background-color: #343434;color:#9D9D9D;font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CityCity .rnr-b-vmenu.simple.main > *:hover:hover:hover.expanded
{
background-image:none; background-color: #343434;color:#9D9D9D;font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CityCity .rnr-b-vmenu.simple.main > * > ul li,
.CityCity .rnr-b-vmenu.tree.main > *.subitem
{
background-image:none; background-color: #343434;color:#9D9D9D;font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CityCity .rnr-b-vmenu.simple.main > * > ul li > hr,
.CityCity .rnr-b-vmenu.tree.main > *.subitem > hr
{
border-color:#9D9D9D;
}
.CityCity .rnr-b-vmenu.simple.main > * > ul li:hover:not(.expanded):not(.menuSeparator),
.CityCity .rnr-b-vmenu.tree.main > *.subitem:hover:not(.menuSeparator)
{
background-image:none; background-color: #343434;color:#FFFFFF;font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CityCity .rnr-b-vmenu.simple.main > * > ul li.current.current.current,
.CityCity .rnr-b-vmenu.tree.main > *.subitem.current.current.current
{
background-image:none; background-color: #343434;color:#FFFFFF;font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CityCity .rnr-b-vmenu.simple.main > * > ul li:hover:hover:hover.expanded
{
background-image:none; background-color: #343434;color:#FFFFFF;font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CityCity .rnr-b-vmenu.tree.main > *:not(.subitem) > div
{
padding: 9px 7px; margin:1px 3px;
}
.CityCity .rnr-b-vmenu.simple.main > * > :not(ul) > *
{
padding: 9px 7px; margin:1px 3px;
}
.CityCity .rnr-b-vmenu.tree.main > *.subitem > div
{
padding: 6px 7px; margin:1px 3px;
}
.CityCity .rnr-b-vmenu.simple.main > * > ul li > :not(ul) > *
{
padding: 6px 7px; margin:1px 3px;
}
.CityCity .rnr-b-vmenu.simple.main >  * ul
{
border: solid #494949 1px;
}
.CityCity .rnr-b-vmenu.simple.main > *:not(:first-child),
.CityCity .rnr-b-vmenu.tree.main > *:not(.subitem):not(:first-child)
{
border-top:solid #494949 1px;
}
.CityCity .rnr-b-vmenu.simple.second > *,
.CityCity .rnr-b-vmenu.tree.second > *:not(.subitem)
{
background-image:none; background-color: #343434;color:#FFFFFF;font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CityCity .rnr-b-vmenu.simple.second > * > hr,
.CityCity .rnr-b-vmenu.tree.second > *:not(.subitem) > hr
{
border-color:#FFFFFF;
}
.CityCity .rnr-b-vmenu.simple.second > *:hover:not(.expanded):not(.menuSeparator),
.CityCity .rnr-b-vmenu.tree.second > *:not(.subitem):not(.manage):hover:not(.menuSeparator)
{
background-image:none; background-color: #343434;color:#9D9D9D;font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CityCity .rnr-b-vmenu.simple.second > *.current.current.current,
.CityCity .rnr-b-vmenu.tree.second > *:not(.subitem).current.current.current
{
background-image:none; background-color: #343434;color:#9D9D9D;font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CityCity .rnr-b-vmenu.simple.second > *:hover:hover:hover.expanded
{
background-image:none; background-color: #343434;color:#9D9D9D;font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CityCity .rnr-b-vmenu.simple.second > * > ul li,
.CityCity .rnr-b-vmenu.tree.second > *.subitem
{
background-image:none; background-color: #343434;color:#9D9D9D;font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CityCity .rnr-b-vmenu.simple.second > * > ul li > hr,
.CityCity .rnr-b-vmenu.tree.second > *.subitem > hr
{
border-color:#9D9D9D;
}
.CityCity .rnr-b-vmenu.simple.second > * > ul li:hover:not(.expanded):not(.menuSeparator),
.CityCity .rnr-b-vmenu.tree.second > *.subitem:hover:not(.menuSeparator)
{
background-image:none; background-color: #343434;color:#FFFFFF;font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CityCity .rnr-b-vmenu.simple.second > * > ul li.current.current.current,
.CityCity .rnr-b-vmenu.tree.second > *.subitem.current.current.current
{
background-image:none; background-color: #343434;color:#FFFFFF;font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CityCity .rnr-b-vmenu.simple.second > * > ul li:hover:hover:hover.expanded
{
background-image:none; background-color: #343434;color:#FFFFFF;font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CityCity .rnr-b-vmenu.tree.second > *:not(.subitem) > div
{
padding: 9px 7px; margin:1px 3px;
}
.CityCity .rnr-b-vmenu.simple.second > * > :not(ul) > *
{
padding: 9px 7px; margin:1px 3px;
}
.CityCity .rnr-b-vmenu.tree.second > *.subitem > div
{
padding: 6px 7px; margin:1px 3px;
}
.CityCity .rnr-b-vmenu.simple.second > * > ul li > :not(ul) > *
{
padding: 6px 7px; margin:1px 3px;
}
.CityCity .rnr-b-vmenu.simple.second >  * ul
{
border: solid #494949 1px;
}
.CityCity .rnr-b-vmenu.simple.second > *:not(:first-child),
.CityCity .rnr-b-vmenu.tree.second > *:not(.subitem):not(:first-child)
{
border-top:solid #494949 1px;
}
.CityCity .rnr-b-hmenu.main > div:not(.rnr-hseparator)
{
background: transparent;color:#FFFFFF;font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: normal; font-style: normal; text-decoration: none;padding: 10px 20px;border: none;
}
.CityCity .rnr-b-hmenu.main
{
background-image:none; background-color: #343434;
}
.CityCity .rnr-b-hmenu.main > div:not(.rnr-hseparator) > hr
{
border-color:#FFFFFF;
}
.CityCity .rnr-b-hmenu.main:hover:not(.expanded) > div:not(.rnr-hseparator)
{
background: transparent;color:#9D9D9D;font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CityCity .rnr-b-hmenu.main:hover:not(.expanded)
{
background-image:none; background-color: #343434;
}
.CityCity .rnr-b-hmenu.main.current.current > div:not(.rnr-hseparator)
{
background: transparent;color:#9D9D9D;font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CityCity .rnr-b-hmenu.main.current.current
{
background-image:none; background-color: #343434;
}
.CityCity .rnr-b-hmenu.main:hover.expanded > div:not(.rnr-hseparator)
{
background: transparent;color:#9D9D9D;font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CityCity .rnr-b-hmenu.main:hover.expanded
{
background-image:none; background-color: #343434;
}
.CityCity .rnr-b-hmenu.main > ul li
{
background-image:none; background-color: #343434;color:#9D9D9D;font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CityCity .rnr-b-hmenu.main > ul li > hr
{
border-color:#9D9D9D;
}
.CityCity .rnr-b-hmenu.main > ul li:hover:not(.expanded):not(.menuSeparator)
{
background-image:none; background-color: #343434;color:#FFFFFF;font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CityCity .rnr-b-hmenu.main > ul li.current.current
{
background-image:none; background-color: #343434;color:#FFFFFF;font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CityCity .rnr-b-hmenu.main > ul li:hover.expanded
{
background-image:none; background-color: #343434;color:#FFFFFF;font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CityCity .rnr-b-hmenu.main > ul li > div > div
{
padding: 6px 14px; margin:1px 6px;
}
.CityCity .rnr-b-hmenu.main ul
{
border: solid #494949 1px;
}
.CityCity .rnr-b-hmenu.main:not(:last-child)
{
border-right: solid #494949 1px;
}
.CityCity :not(.rnr-b-hmenu):not(.main) + .rnr-b-hmenu.main
{
border-left: solid #494949 1px;
}
.CityCity .rnr-b-hmenu.second > div:not(.rnr-hseparator)
{
background: transparent;color:#FFFFFF;font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: normal; font-style: normal; text-decoration: none;padding: 10px 20px;border: none;
}
.CityCity .rnr-b-hmenu.second
{
background-color: #343434;
background: linear-gradient(0.000000turn, #292929, #343434, #292929);
;

}
.CityCity .rnr-b-hmenu.second > div:not(.rnr-hseparator) > hr
{
border-color:#FFFFFF;
}
.CityCity .rnr-b-hmenu.second:hover:not(.expanded) > div:not(.rnr-hseparator)
{
background: transparent;color:#9D9D9D;font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CityCity .rnr-b-hmenu.second:hover:not(.expanded)
{
background-color: #343434;
background: linear-gradient(0.000000turn, #292929, #343434, #292929);
;

}
.CityCity .rnr-b-hmenu.second.current.current > div:not(.rnr-hseparator)
{
background: transparent;color:#9D9D9D;font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CityCity .rnr-b-hmenu.second.current.current
{
background-color: #343434;
background: linear-gradient(0.000000turn, #292929, #343434, #292929);
;

}
.CityCity .rnr-b-hmenu.second:hover.expanded > div:not(.rnr-hseparator)
{
background: transparent;color:#9D9D9D;font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CityCity .rnr-b-hmenu.second:hover.expanded
{
background-color: #343434;
background: linear-gradient(0.000000turn, #292929, #343434, #292929);
;

}
.CityCity .rnr-b-hmenu.second > ul li
{
background-image:none; background-color: #343434;color:#9D9D9D;font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CityCity .rnr-b-hmenu.second > ul li > hr
{
border-color:#9D9D9D;
}
.CityCity .rnr-b-hmenu.second > ul li:hover:not(.expanded):not(.menuSeparator)
{
background-image:none; background-color: #343434;color:#FFFFFF;font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CityCity .rnr-b-hmenu.second > ul li.current.current
{
background-image:none; background-color: #343434;color:#FFFFFF;font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CityCity .rnr-b-hmenu.second > ul li:hover.expanded
{
background-image:none; background-color: #343434;color:#FFFFFF;font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CityCity .rnr-b-hmenu.second > ul li > div > div
{
padding: 6px 14px; margin:1px 6px;
}
.CityCity .rnr-b-hmenu.second ul
{
border: solid #494949 1px;
}
.CityCity .rnr-b-hmenu.second:not(:last-child)
{
border-right: solid #494949 1px;
}
.CityCity :not(.rnr-b-hmenu):not(.second) + .rnr-b-hmenu.second
{
border-left: solid #494949 1px;
}
body.CityCity
{

background-color:#F7F7F7;
}
.CityCity .rnr-list
{
color: #000000;background-color: #FFFFFF;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;border: solid #696969 1px;box-shadow:5px 5px 3px rgba(0,0,0,0.2);
}
.CityCity .rnr-tab.selected
{
background-color:#16589C;
border-top-right-radius:2px;
border-top-left-radius:2px;

}
.CityCity .rnr-tab
{
background-color:#E9E9E9;
border-top-right-radius:2px;
border-top-left-radius:2px;
border: solid #808080 1px; border-bottom-width:0;
}
.CityCity .rnr-tab.selected > a
{
color: #FFFFFF;

}
.CityCity .rnr-tab > a
{
color: #000000;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CityCity .yui-navset .yui-content
{
border: solid #16589C 1px;border-top-width: 5px;
}
.CityCity .rnr-stepnav > a.active,
.CityCity .rnr-stepnav > a:hover:not(.active),
.CityCity .rnr-stepnav > a.active:after,
.CityCity .rnr-stepnav > a:hover:not(.active):after
{
background-image: none; background-color: #E2E6E7;

}
.CityCity .rnr-stepnav > a:not(.active),
.CityCity .rnr-stepnav > a:not(.active):after
{
background-image: none; background-color: #C0C0C0;

}
.CityCity .rnr-stepnav > a:before
{
background-image: none; background: #FFFFFF;

}
.CityCity .rnr-stepnav > a.active,
.CityCity .rnr-stepnav > a:hover:not(.active)
{
color: #333333;

}
.CityCity .rnr-stepnav > a:not(.active)
{
color: #A9A9A9;

}
.CityCity .rnr-stepnav > a:before 
{
color: #333333;

}
.CityCity .rnr-stepnav > a,
 .rnr-pagewrapper .CityCity .rnr-stepnav > a,
 .rnr-pagewrapper .rnr-pagewrapper .CityCity .rnr-stepnav > a
{
font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CityCity  .rnr-message
{
background-color: #EBEDEF;border: solid #C0C0C0 1px;color: #16589C;font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CityCity  .rnr-error.rnr-error
{
color: #A80000;font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; font-style: italic; text-decoration: none;
}
.CityCity .yui3-panel-content.yui3-panel-content
{
border: solid #DCDCDC 1px;border-radius: 2px;
}
.CityCity  .yui3-panel .yui3-widget-hd.yui3-widget-hd.yui3-widget-hd
{
background-color: #407EBD; background-image: none;font-family: Avant Garde, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;color: #FFFFFF;
}
.CityCity  .yui3-widget-ft
{
background-color: #407EBD; background-image: none;font-family: Avant Garde, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;color: #FFFFFF;
}
.CityCity .rnr-dbbordered
{
border: solid #DCDCDC 1px;border-radius: 2px;
}
.CityCity  .rnr-dbelemheader
{
background-color: #407EBD; background-image: none;font-family: Avant Garde, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;color: #FFFFFF;
}
.CityCity  .rnr-dbelemfooter
{
background-color: #D8D8D8; background-image: none;font-family: Avant Garde, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;color: #000000;
}
.CityCity  .rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow
{
background-color: #FFFACD; background-image: none;color: #4C4951;
}
.CityCity .rnr-dashboard
{
background-color: #FFFFFF;
}
.CityCity .rnr-button.rnr-button,
.CityCity.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
.CityCity .button.button.button.rnr-button.rnr-button,
 .rnr-pagewrapper .CityCity .rnr-button.rnr-button,
 .rnr-pagewrapper .CityCity.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
 .rnr-pagewrapper .CityCity .button.button.button.rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .CityCity .rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .CityCity.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .CityCity .button.button.button.rnr-button.rnr-button
{
border: solid 1px;border-radius: 0px;padding: 3px 10px 4px;background-image: none; background-color: #E2E6E7;
border-color: #849197;color: #333333;
font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CityCity .rnr-button.rnr-button.img,
.CityCity.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
.CityCity .button.button.button.rnr-button.rnr-button.img,
 .rnr-pagewrapper .CityCity .rnr-button.rnr-button.img,
 .rnr-pagewrapper .CityCity.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
 .rnr-pagewrapper .CityCity .button.button.button.rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .CityCity .rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .CityCity.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .CityCity .button.button.button.rnr-button.rnr-button.img
{
padding: 3px;

}
.CityCity .rnr-button:hover,
.CityCity.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:hover,
.CityCity .button.button.button.rnr-button:hover,
 .rnr-pagewrapper .CityCity .rnr-button:hover,
 .rnr-pagewrapper .CityCity.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:hover,
 .rnr-pagewrapper .CityCity .button.button.button.rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .CityCity .rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .CityCity.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .CityCity .button.button.button.rnr-button:hover
{
background-image: none; background-color: #FFFFFF;
border-color: #849197;color: #333333;

}
.CityCity .rnr-button:active,
.CityCity.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:active,
.CityCity .button.button.button.rnr-button:active,
 .rnr-pagewrapper .CityCity .rnr-button:active,
 .rnr-pagewrapper .CityCity.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:active,
 .rnr-pagewrapper .CityCity .button.button.button.rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .CityCity .rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .CityCity.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .CityCity .button.button.button.rnr-button:active
{
background-image: none; background-color: #DFE2E4;
border-color: #849197;color: #333333;

}
.CityCity .rnr-button.disabled,
.CityCity.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.disabled,
.CityCity .button.button.button.rnr-button.disabled,
 .rnr-pagewrapper .CityCity .rnr-button.disabled,
 .rnr-pagewrapper .CityCity.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.disabled,
 .rnr-pagewrapper .CityCity .button.button.button.rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .CityCity .rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .CityCity.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .CityCity .button.button.button.rnr-button.disabled
{
background-image: none; background-color: #C0C0C0;
border-color: #696969;color: #A9A9A9;

}
.CityCity.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
.CityCity .link.link.link.rnr-button.rnr-button,
 .rnr-pagewrapper .CityCity.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
 .rnr-pagewrapper .CityCity .link.link.link.rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .CityCity.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .CityCity .link.link.link.rnr-button.rnr-button
{
background: none; border: none; ;
border: none;border-radius: 0px;padding: 4px 10px 4px;color: #404040;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.CityCity.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
.CityCity .link.link.link.rnr-button.rnr-button.img,
 .rnr-pagewrapper .CityCity.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
 .rnr-pagewrapper .CityCity .link.link.link.rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .CityCity.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .CityCity .link.link.link.rnr-button.rnr-button.img
{
padding: 4px;

}
.CityCity.aslinks > * > *:not(.rnr-wrapper) .rnr-button:hover,
.CityCity .link.link.link.rnr-button:hover,
 .rnr-pagewrapper .CityCity.aslinks > * > *:not(.rnr-wrapper) .rnr-button:hover,
 .rnr-pagewrapper .CityCity .link.link.link.rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .CityCity.aslinks > * > *:not(.rnr-wrapper) .rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .CityCity .link.link.link.rnr-button:hover
{
color: #FE4F29;

}
.CityCity.aslinks > * > *:not(.rnr-wrapper) .rnr-button:active,
.CityCity .link.link.link.rnr-button:active,
 .rnr-pagewrapper .CityCity.aslinks > * > *:not(.rnr-wrapper) .rnr-button:active,
 .rnr-pagewrapper .CityCity .link.link.link.rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .CityCity.aslinks > * > *:not(.rnr-wrapper) .rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .CityCity .link.link.link.rnr-button:active
{
color: #004080;

}
.CityCity.aslinks > * > *:not(.rnr-wrapper) .rnr-button.disabled,
.CityCity .link.link.link.rnr-button.disabled,
 .rnr-pagewrapper .CityCity.aslinks > * > *:not(.rnr-wrapper) .rnr-button.disabled,
 .rnr-pagewrapper .CityCity .link.link.link.rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .CityCity.aslinks > * > *:not(.rnr-wrapper) .rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .CityCity .link.link.link.rnr-button.disabled
{
color: #004080;

}
.CityCity .main.main.main.rnr-button.rnr-button,
 .rnr-pagewrapper .CityCity .main.main.main.rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .CityCity .main.main.main.rnr-button.rnr-button
{
border: solid 1px;border-radius: 0px;padding: 3px 10px 4px;background-image: none; background-color: #F4F5F7;
border-color: #849197;color: #333333;
font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold; font-style: normal; text-decoration: none;
}
.CityCity .main.main.main.rnr-button.rnr-button.img,
 .rnr-pagewrapper .CityCity .main.main.main.rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .CityCity .main.main.main.rnr-button.rnr-button.img
{
padding: 3px;

}
.CityCity .main.main.main.rnr-button:hover,
 .rnr-pagewrapper .CityCity .main.main.main.rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .CityCity .main.main.main.rnr-button:hover
{
background-image: none; background-color: #FFFFFF;
border-color: #849197;color: #333333;

}
.CityCity .main.main.main.rnr-button:active,
 .rnr-pagewrapper .CityCity .main.main.main.rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .CityCity .main.main.main.rnr-button:active
{
background-image: none; background-color: #DFE2E4;
border-color: #849197;color: #333333;

}
.CityCity .main.main.main.rnr-button.disabled,
 .rnr-pagewrapper .CityCity .main.main.main.rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .CityCity .main.main.main.rnr-button.disabled
{
background-image: none; background-color: #C0C0C0;
border-color: #696969;color: #A9A9A9;

}

 .rnr-left, .rnr-center {
 background: #f4f4f4 !important;
 }
    