<div {$pageattrs}>

{BEGIN container_1}



<table class="fieldGrid">
{BEGIN agua_tabfieldblock}
<tr class="{$fielddispclass_agua}" data-fieldname="agua">
	<td class="style1 rnr-label">
		{BEGIN agua_label}{$label public_tbl_pesquisa agua}{END agua_label}
	</td>
	<td class="rnr-control style3">
		{$agua_editcontrol}&nbsp;
	</td>
</tr>
{END agua_tabfieldblock}
{BEGIN esgoto_tabfieldblock}
<tr class="{$fielddispclass_esgoto}" data-fieldname="esgoto">
	<td class="style1 rnr-label">
		{BEGIN esgoto_label}{$label public_tbl_pesquisa esgoto}{END esgoto_label}
	</td>
	<td class="rnr-control style3">
		{$esgoto_editcontrol}&nbsp;
	</td>
</tr>
{END esgoto_tabfieldblock}
{BEGIN energia_tabfieldblock}
<tr class="{$fielddispclass_energia}" data-fieldname="energia">
	<td class="style1 rnr-label">
		{BEGIN energia_label}{$label public_tbl_pesquisa energia}{END energia_label}
	</td>
	<td class="rnr-control style3">
		{$energia_editcontrol}&nbsp;
	</td>
</tr>
{END energia_tabfieldblock}
{BEGIN iluminacao_tabfieldblock}
<tr class="{$fielddispclass_iluminacao}" data-fieldname="iluminacao">
	<td class="style1 rnr-label">
		{BEGIN iluminacao_label}{$label public_tbl_pesquisa iluminacao}{END iluminacao_label}
	</td>
	<td class="rnr-control style3">
		{$iluminacao_editcontrol}&nbsp;
	</td>
</tr>
{END iluminacao_tabfieldblock}
{BEGIN guia_sargeta_tabfieldblock}
<tr class="{$fielddispclass_guia_sargeta}" data-fieldname="guia_sargeta">
	<td class="style1 rnr-label">
		{BEGIN guia_sargeta_label}{$label public_tbl_pesquisa guia_sargeta}{END guia_sargeta_label}
	</td>
	<td class="rnr-control style3">
		{$guia_sargeta_editcontrol}&nbsp;
	</td>
</tr>
{END guia_sargeta_tabfieldblock}
{BEGIN pavimento_tabfieldblock}
<tr class="{$fielddispclass_pavimento}" data-fieldname="pavimento">
	<td class="style1 rnr-label">
		{BEGIN pavimento_label}{$label public_tbl_pesquisa pavimento}{END pavimento_label}
	</td>
	<td class="rnr-control style3">
		{$pavimento_editcontrol}&nbsp;
	</td>
</tr>
{END pavimento_tabfieldblock}
{BEGIN drenagem_tabfieldblock}
<tr class="{$fielddispclass_drenagem}" data-fieldname="drenagem">
	<td class="style1 rnr-label">
		{BEGIN drenagem_label}{$label public_tbl_pesquisa drenagem}{END drenagem_label}
	</td>
	<td class="rnr-control style3">
		{$drenagem_editcontrol}&nbsp;
	</td>
</tr>
{END drenagem_tabfieldblock}
{BEGIN telefone_tabfieldblock}
<tr class="{$fielddispclass_telefone}" data-fieldname="telefone">
	<td class="style1 rnr-label">
		{BEGIN telefone_label}{$label public_tbl_pesquisa telefone}{END telefone_label}
	</td>
	<td class="rnr-control style3">
		{$telefone_editcontrol}&nbsp;
	</td>
</tr>
{END telefone_tabfieldblock}
{BEGIN coleta_tabfieldblock}
<tr class="{$fielddispclass_coleta}" data-fieldname="coleta">
	<td class="style1 rnr-label">
		{BEGIN coleta_label}{$label public_tbl_pesquisa coleta}{END coleta_label}
	</td>
	<td class="rnr-control style3">
		{$coleta_editcontrol}&nbsp;
	</td>
</tr>
{END coleta_tabfieldblock}
{BEGIN transporte_tabfieldblock}
<tr class="{$fielddispclass_transporte}" data-fieldname="transporte">
	<td class="style1 rnr-label">
		{BEGIN transporte_label}{$label public_tbl_pesquisa transporte}{END transporte_label}
	</td>
	<td class="rnr-control style3">
		{$transporte_editcontrol}&nbsp;
	</td>
</tr>
{END transporte_tabfieldblock}
</table>




{END container_1}

</div>