<div {$pageattrs}>

{BEGIN container_1}



<table class="fieldGrid">
{BEGIN testada_tabfieldblock}
<tr class="{$fielddispclass_testada}" data-fieldname="testada">
	<td class="style1 rnr-label">
		{BEGIN testada_label}{$label public_tbl_pesquisa testada}{END testada_label}
	</td>
	<td class="rnr-control style3">
		{$testada_editcontrol}&nbsp;
	</td>
</tr>
{END testada_tabfieldblock}
{BEGIN area_terreno_tabfieldblock}
<tr class="{$fielddispclass_area_terreno}" data-fieldname="area_terreno">
	<td class="style1 rnr-label">
		{BEGIN area_terreno_label}{$label public_tbl_pesquisa area_terreno}{END area_terreno_label}
	</td>
	<td class="rnr-control style3">
		{$area_terreno_editcontrol}&nbsp;
	</td>
</tr>
{END area_terreno_tabfieldblock}
{BEGIN forma_tabfieldblock}
<tr class="{$fielddispclass_forma}" data-fieldname="forma">
	<td class="style1 rnr-label">
		{BEGIN forma_label}{$label public_tbl_pesquisa forma}{END forma_label}
	</td>
	<td class="rnr-control style3">
		{$forma_editcontrol}&nbsp;
	</td>
</tr>
{END forma_tabfieldblock}
{BEGIN topografia_tabfieldblock}
<tr class="{$fielddispclass_topografia}" data-fieldname="topografia">
	<td class="style1 rnr-label">
		{BEGIN topografia_label}{$label public_tbl_pesquisa topografia}{END topografia_label}
	</td>
	<td class="rnr-control style3">
		{$topografia_editcontrol}&nbsp;
	</td>
</tr>
{END topografia_tabfieldblock}
{BEGIN consist_solo_tabfieldblock}
<tr class="{$fielddispclass_consist_solo}" data-fieldname="consist_solo">
	<td class="style1 rnr-label">
		{BEGIN consist_solo_label}{$label public_tbl_pesquisa consist_solo}{END consist_solo_label}
	</td>
	<td class="rnr-control style3">
		{$consist_solo_editcontrol}&nbsp;
	</td>
</tr>
{END consist_solo_tabfieldblock}
{BEGIN posicao_tabfieldblock}
<tr class="{$fielddispclass_posicao}" data-fieldname="posicao">
	<td class="style1 rnr-label">
		{BEGIN posicao_label}{$label public_tbl_pesquisa posicao}{END posicao_label}
	</td>
	<td class="rnr-control style3">
		{$posicao_editcontrol}&nbsp;
	</td>
</tr>
{END posicao_tabfieldblock}
{BEGIN benfeitoria_tabfieldblock}
<tr class="{$fielddispclass_benfeitoria}" data-fieldname="benfeitoria">
	<td class="style1 rnr-label">
		{BEGIN benfeitoria_label}{$label public_tbl_pesquisa benfeitoria}{END benfeitoria_label}
	</td>
	<td class="rnr-control style3">
		{$benfeitoria_editcontrol}&nbsp;
	</td>
</tr>
{END benfeitoria_tabfieldblock}
{BEGIN ocupacao_tabfieldblock}
<tr class="{$fielddispclass_ocupacao}" data-fieldname="ocupacao">
	<td class="style1 rnr-label">
		{BEGIN ocupacao_label}{$label public_tbl_pesquisa ocupacao}{END ocupacao_label}
	</td>
	<td class="rnr-control style3">
		{$ocupacao_editcontrol}&nbsp;
	</td>
</tr>
{END ocupacao_tabfieldblock}
</table>




{END container_1}

</div>