<div {$pageattrs}>

{BEGIN container_1}



<table class="fieldGrid">
{BEGIN area_iptu_tabfieldblock}
<tr class="{$fielddispclass_area_iptu}" data-fieldname="area_iptu">
	<td class="style1 rnr-label">
		{BEGIN area_iptu_label}{$label public_tbl_pesquisa area_iptu}{END area_iptu_label}
	</td>
	<td class="rnr-control style3">
		{$area_iptu_editcontrol}&nbsp;
	</td>
</tr>
{END area_iptu_tabfieldblock}
{BEGIN area_estimada_tabfieldblock}
<tr class="{$fielddispclass_area_estimada}" data-fieldname="area_estimada">
	<td class="style1 rnr-label">
		{BEGIN area_estimada_label}{$label public_tbl_pesquisa area_estimada}{END area_estimada_label}
	</td>
	<td class="rnr-control style3">
		{$area_estimada_editcontrol}&nbsp;
	</td>
</tr>
{END area_estimada_tabfieldblock}
{BEGIN area_atualizacao_tabfieldblock}
<tr class="{$fielddispclass_area_atualizacao}" data-fieldname="area_atualizacao">
	<td class="style1 rnr-label">
		{BEGIN area_atualizacao_label}{$label public_tbl_pesquisa area_atualizacao}{END area_atualizacao_label}
	</td>
	<td class="rnr-control style3">
		{$area_atualizacao_editcontrol}&nbsp;
	</td>
</tr>
{END area_atualizacao_tabfieldblock}
{BEGIN classe_tabfieldblock}
<tr class="{$fielddispclass_classe}" data-fieldname="classe">
	<td class="style1 rnr-label">
		{BEGIN classe_label}{$label public_tbl_pesquisa classe}{END classe_label}
	</td>
	<td class="rnr-control style3">
		{$classe_editcontrol}&nbsp;
	</td>
</tr>
{END classe_tabfieldblock}
{BEGIN tipologia_construtiva_tabfieldblock}
<tr class="{$fielddispclass_tipologia_construtiva}" data-fieldname="tipologia_construtiva">
	<td class="style1 rnr-label">
		{BEGIN tipologia_construtiva_label}{$label public_tbl_pesquisa tipologia_construtiva}{END tipologia_construtiva_label}
	</td>
	<td class="rnr-control style3">
		{$tipologia_construtiva_editcontrol}&nbsp;
	</td>
</tr>
{END tipologia_construtiva_tabfieldblock}
{BEGIN padrao_construtivo_tabfieldblock}
<tr class="{$fielddispclass_padrao_construtivo}" data-fieldname="padrao_construtivo">
	<td class="style1 rnr-label">
		{BEGIN padrao_construtivo_label}{$label public_tbl_pesquisa padrao_construtivo}{END padrao_construtivo_label}
	</td>
	<td class="rnr-control style3">
		{$padrao_construtivo_editcontrol}&nbsp;
	</td>
</tr>
{END padrao_construtivo_tabfieldblock}
{BEGIN estrutura_tabfieldblock}
<tr class="{$fielddispclass_estrutura}" data-fieldname="estrutura">
	<td class="style1 rnr-label">
		{BEGIN estrutura_label}{$label public_tbl_pesquisa estrutura}{END estrutura_label}
	</td>
	<td class="rnr-control style3">
		{$estrutura_editcontrol}&nbsp;
	</td>
</tr>
{END estrutura_tabfieldblock}
{BEGIN conservacao_tabfieldblock}
<tr class="{$fielddispclass_conservacao}" data-fieldname="conservacao">
	<td class="style1 rnr-label">
		{BEGIN conservacao_label}{$label public_tbl_pesquisa conservacao}{END conservacao_label}
	</td>
	<td class="rnr-control style3">
		{$conservacao_editcontrol}&nbsp;
	</td>
</tr>
{END conservacao_tabfieldblock}
{BEGIN dependencia_tabfieldblock}
<tr class="{$fielddispclass_dependencia}" data-fieldname="dependencia">
	<td class="style1 rnr-label">
		{BEGIN dependencia_label}{$label public_tbl_pesquisa dependencia}{END dependencia_label}
	</td>
	<td class="rnr-control style3">
		{$dependencia_editcontrol}&nbsp;
	</td>
</tr>
{END dependencia_tabfieldblock}
{BEGIN elevador_tabfieldblock}
<tr class="{$fielddispclass_elevador}" data-fieldname="elevador">
	<td class="style1 rnr-label">
		{BEGIN elevador_label}{$label public_tbl_pesquisa elevador}{END elevador_label}
	</td>
	<td class="rnr-control style3">
		{$elevador_editcontrol}&nbsp;
	</td>
</tr>
{END elevador_tabfieldblock}
{BEGIN vao_tabfieldblock}
<tr class="{$fielddispclass_vao}" data-fieldname="vao">
	<td class="style1 rnr-label">
		{BEGIN vao_label}{$label public_tbl_pesquisa vao}{END vao_label}
	</td>
	<td class="rnr-control style3">
		{$vao_editcontrol}&nbsp;
	</td>
</tr>
{END vao_tabfieldblock}
{BEGIN cobertura_tabfieldblock}
<tr class="{$fielddispclass_cobertura}" data-fieldname="cobertura">
	<td class="style1 rnr-label">
		{BEGIN cobertura_label}{$label public_tbl_pesquisa cobertura}{END cobertura_label}
	</td>
	<td class="rnr-control style3">
		{$cobertura_editcontrol}&nbsp;
	</td>
</tr>
{END cobertura_tabfieldblock}
{BEGIN condominio_tabfieldblock}
<tr class="{$fielddispclass_condominio}" data-fieldname="condominio">
	<td class="style1 rnr-label">
		{BEGIN condominio_label}{$label public_tbl_pesquisa condominio}{END condominio_label}
	</td>
	<td class="rnr-control style3">
		{$condominio_editcontrol}&nbsp;
	</td>
</tr>
{END condominio_tabfieldblock}
{BEGIN idade_edificacao_tabfieldblock}
<tr class="{$fielddispclass_idade_edificacao}" data-fieldname="idade_edificacao">
	<td class="style1 rnr-label">
		{BEGIN idade_edificacao_label}{$label public_tbl_pesquisa idade_edificacao}{END idade_edificacao_label}
	</td>
	<td class="rnr-control style3">
		{$idade_edificacao_editcontrol}&nbsp;
	</td>
</tr>
{END idade_edificacao_tabfieldblock}
{BEGIN qt_dormitorio_tabfieldblock}
<tr class="{$fielddispclass_qt_dormitorio}" data-fieldname="qt_dormitorio">
	<td class="style1 rnr-label">
		{BEGIN qt_dormitorio_label}{$label public_tbl_pesquisa qt_dormitorio}{END qt_dormitorio_label}
	</td>
	<td class="rnr-control style3">
		{$qt_dormitorio_editcontrol}&nbsp;
	</td>
</tr>
{END qt_dormitorio_tabfieldblock}
{BEGIN qt_banheiro_tabfieldblock}
<tr class="{$fielddispclass_qt_banheiro}" data-fieldname="qt_banheiro">
	<td class="style1 rnr-label">
		{BEGIN qt_banheiro_label}{$label public_tbl_pesquisa qt_banheiro}{END qt_banheiro_label}
	</td>
	<td class="rnr-control style3">
		{$qt_banheiro_editcontrol}&nbsp;
	</td>
</tr>
{END qt_banheiro_tabfieldblock}
</table>




{END container_1}

</div>