<div {$pageattrs}>

{BEGIN container_1}



<table class="fieldGrid">
{BEGIN observacao_tabfieldblock}
<tr class="{$fielddispclass_observacao}" data-fieldname="observacao">
	<td class="style1 rnr-label">
		{BEGIN observacao_label}{$label public_tbl_pesquisa observacao}{END observacao_label}
	</td>
	<td class="rnr-control style3">
		{$observacao_editcontrol}&nbsp;
	</td>
</tr>
{END observacao_tabfieldblock}
{BEGIN cadastrador_tabfieldblock}
<tr class="{$fielddispclass_cadastrador}" data-fieldname="cadastrador">
	<td class="style1 rnr-label">
		{BEGIN cadastrador_label}{$label public_tbl_pesquisa cadastrador}{END cadastrador_label}
	</td>
	<td class="rnr-control style3">
		{$cadastrador_editcontrol}&nbsp;
	</td>
</tr>
{END cadastrador_tabfieldblock}
{BEGIN data_cadastro_tabfieldblock}
<tr class="{$fielddispclass_data_cadastro}" data-fieldname="data_cadastro">
	<td class="style1 rnr-label">
		{BEGIN data_cadastro_label}{$label public_tbl_pesquisa data_cadastro}{END data_cadastro_label}
	</td>
	<td class="rnr-control style3">
		{$data_cadastro_editcontrol}&nbsp;
	</td>
</tr>
{END data_cadastro_tabfieldblock}
{BEGIN fotos_tabfieldblock}
<tr class="{$fielddispclass_fotos}" data-fieldname="fotos">
	<td class="style1 rnr-label">
		{BEGIN fotos_label}{$label public_tbl_pesquisa fotos}{END fotos_label}
	</td>
	<td class="rnr-control style3">
		{$fotos_editcontrol}&nbsp;
	</td>
</tr>
{END fotos_tabfieldblock}
{BEGIN concluido_tabfieldblock}
<tr class="{$fielddispclass_concluido}" data-fieldname="concluido">
	<td class="style1 rnr-label">
		{BEGIN concluido_label}{$label public_tbl_pesquisa concluido}{END concluido_label}
	</td>
	<td class="rnr-control style3">
		{$concluido_editcontrol}&nbsp;
	</td>
</tr>
{END concluido_tabfieldblock}
</table>




{END container_1}

</div>