<div {$pageattrs}>

{BEGIN container_1}



<table class="fieldGrid">
{BEGIN ic_imobiliaria_tabfieldblock}
<tr class="{$fielddispclass_ic_imobiliaria}" data-fieldname="ic_imobiliaria">
	<td class="style1 rnr-label">
		{BEGIN ic_imobiliaria_label}{$label public_tbl_pesquisa ic_imobiliaria}{END ic_imobiliaria_label}
	</td>
	<td class="rnr-control style3">
		{$ic_imobiliaria_editcontrol}&nbsp;
	</td>
</tr>
{END ic_imobiliaria_tabfieldblock}
{BEGIN zona_homogenea_tabfieldblock}
<tr class="{$fielddispclass_zona_homogenea}" data-fieldname="zona_homogenea">
	<td class="style1 rnr-label">
		{BEGIN zona_homogenea_label}{$label public_tbl_pesquisa zona_homogenea}{END zona_homogenea_label}
	</td>
	<td class="rnr-control style3">
		{$zona_homogenea_editcontrol}&nbsp;
	</td>
</tr>
{END zona_homogenea_tabfieldblock}
{BEGIN pesquisa_tabfieldblock}
<tr class="{$fielddispclass_pesquisa}" data-fieldname="pesquisa">
	<td class="style1 rnr-label">
		{BEGIN pesquisa_label}{$label public_tbl_pesquisa pesquisa}{END pesquisa_label}
	</td>
	<td class="rnr-control style3">
		{$pesquisa_editcontrol}&nbsp;
	</td>
</tr>
{END pesquisa_tabfieldblock}
{BEGIN data_tabfieldblock}
<tr class="{$fielddispclass_data}" data-fieldname="data">
	<td class="style1 rnr-label">
		{BEGIN data_label}{$label public_tbl_pesquisa data}{END data_label}
	</td>
	<td class="rnr-control style3">
		{$data_editcontrol}&nbsp;
	</td>
</tr>
{END data_tabfieldblock}
{BEGIN codlog_tabfieldblock}
<tr class="{$fielddispclass_codlog}" data-fieldname="codlog">
	<td class="style1 rnr-label">
		{BEGIN codlog_label}{$label public_tbl_pesquisa codlog}{END codlog_label}
	</td>
	<td class="rnr-control style3">
		{$codlog_editcontrol}&nbsp;
	</td>
</tr>
{END codlog_tabfieldblock}
{BEGIN endereco_imovel_tabfieldblock}
<tr class="{$fielddispclass_endereco_imovel}" data-fieldname="endereco_imovel">
	<td class="style1 rnr-label">
		{BEGIN endereco_imovel_label}{$label public_tbl_pesquisa endereco_imovel}{END endereco_imovel_label}
	</td>
	<td class="rnr-control style3">
		{$endereco_imovel_editcontrol}&nbsp;
	</td>
</tr>
{END endereco_imovel_tabfieldblock}
{BEGIN numero_tabfieldblock}
<tr class="{$fielddispclass_numero}" data-fieldname="numero">
	<td class="style1 rnr-label">
		{BEGIN numero_label}{$label public_tbl_pesquisa numero}{END numero_label}
	</td>
	<td class="rnr-control style3">
		{$numero_editcontrol}&nbsp;
	</td>
</tr>
{END numero_tabfieldblock}
{BEGIN complemento_tabfieldblock}
<tr class="{$fielddispclass_complemento}" data-fieldname="complemento">
	<td class="style1 rnr-label">
		{BEGIN complemento_label}{$label public_tbl_pesquisa complemento}{END complemento_label}
	</td>
	<td class="rnr-control style3">
		{$complemento_editcontrol}&nbsp;
	</td>
</tr>
{END complemento_tabfieldblock}
{BEGIN bairro_loteamento_tabfieldblock}
<tr class="{$fielddispclass_bairro_loteamento}" data-fieldname="bairro_loteamento">
	<td class="style1 rnr-label">
		{BEGIN bairro_loteamento_label}{$label public_tbl_pesquisa bairro_loteamento}{END bairro_loteamento_label}
	</td>
	<td class="rnr-control style3">
		{$bairro_loteamento_editcontrol}&nbsp;
	</td>
</tr>
{END bairro_loteamento_tabfieldblock}
{BEGIN preco_tabfieldblock}
<tr class="{$fielddispclass_preco}" data-fieldname="preco">
	<td class="style1 rnr-label">
		{BEGIN preco_label}{$label public_tbl_pesquisa preco}{END preco_label}
	</td>
	<td class="rnr-control style3">
		{$preco_editcontrol}&nbsp;
	</td>
</tr>
{END preco_tabfieldblock}
{BEGIN condicoes_pagamento_tabfieldblock}
<tr class="{$fielddispclass_condicoes_pagamento}" data-fieldname="condicoes_pagamento">
	<td class="style1 rnr-label">
		{BEGIN condicoes_pagamento_label}{$label public_tbl_pesquisa condicoes_pagamento}{END condicoes_pagamento_label}
	</td>
	<td class="rnr-control style3">
		{$condicoes_pagamento_editcontrol}&nbsp;
	</td>
</tr>
{END condicoes_pagamento_tabfieldblock}
{BEGIN documentacao_tabfieldblock}
<tr class="{$fielddispclass_documentacao}" data-fieldname="documentacao">
	<td class="style1 rnr-label">
		{BEGIN documentacao_label}{$label public_tbl_pesquisa documentacao}{END documentacao_label}
	</td>
	<td class="rnr-control style3">
		{$documentacao_editcontrol}&nbsp;
	</td>
</tr>
{END documentacao_tabfieldblock}
{BEGIN modalidade_tabfieldblock}
<tr class="{$fielddispclass_modalidade}" data-fieldname="modalidade">
	<td class="style1 rnr-label">
		{BEGIN modalidade_label}{$label public_tbl_pesquisa modalidade}{END modalidade_label}
	</td>
	<td class="rnr-control style3">
		{$modalidade_editcontrol}&nbsp;
	</td>
</tr>
{END modalidade_tabfieldblock}
{BEGIN data_modalidade_tabfieldblock}
<tr class="{$fielddispclass_data_modalidade}" data-fieldname="data_modalidade">
	<td class="style1 rnr-label">
		{BEGIN data_modalidade_label}{$label public_tbl_pesquisa data_modalidade}{END data_modalidade_label}
	</td>
	<td class="rnr-control style3">
		{$data_modalidade_editcontrol}&nbsp;
	</td>
</tr>
{END data_modalidade_tabfieldblock}
{BEGIN fonte_tabfieldblock}
<tr class="{$fielddispclass_fonte}" data-fieldname="fonte">
	<td class="style1 rnr-label">
		{BEGIN fonte_label}{$label public_tbl_pesquisa fonte}{END fonte_label}
	</td>
	<td class="rnr-control style3">
		{$fonte_editcontrol}&nbsp;
	</td>
</tr>
{END fonte_tabfieldblock}
{BEGIN nome_fonte_tabfieldblock}
<tr class="{$fielddispclass_nome_fonte}" data-fieldname="nome_fonte">
	<td class="style1 rnr-label">
		{BEGIN nome_fonte_label}{$label public_tbl_pesquisa nome_fonte}{END nome_fonte_label}
	</td>
	<td class="rnr-control style3">
		{$nome_fonte_editcontrol}&nbsp;
	</td>
</tr>
{END nome_fonte_tabfieldblock}
{BEGIN telefone_fonte_tabfieldblock}
<tr class="{$fielddispclass_telefone_fonte}" data-fieldname="telefone_fonte">
	<td class="style1 rnr-label">
		{BEGIN telefone_fonte_label}{$label public_tbl_pesquisa telefone_fonte}{END telefone_fonte_label}
	</td>
	<td class="rnr-control style3">
		{$telefone_fonte_editcontrol}&nbsp;
	</td>
</tr>
{END telefone_fonte_tabfieldblock}
</table>




{END container_1}

</div>