<DIV class="rnr-ff-block rnr-ff-container" style="background-position: 0% 0%; width: 1721px; height: 603px; overflow: auto; position: relative; background-image: none; background-attachment: scroll; background-repeat: repeat; background-color: transparent;">
  <DIV class="rnr-ff-cwrap {$fielddispclass_observacao}" style="left: 50px; top: 40px; line-height: 16.65pt; font-family: Arial, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="observacao">
    {$label public_tbl_pesquisa observacao}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_observacao}" style="left: 50px; top: 60px; width: 710px; line-height: 1; font-family: Arial, sans-serif; font-size: medium; font-style: normal; font-weight: 400; position: absolute;" data-fieldname="observacao">
    {$observacao_editcontrol}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_cadastrador}" style="left: 50px; top: 110px; line-height: 16.65pt; font-family: Arial, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="cadastrador">
    {$label public_tbl_pesquisa cadastrador}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_cadastrador}" style="left: 50px; top: 130px; line-height: 1; font-family: Arial, sans-serif; font-size: medium; font-style: normal; font-weight: 400; position: absolute;" data-fieldname="cadastrador">
    {$cadastrador_editcontrol}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_data_cadastro}" style="left: 300px; top: 110px; line-height: 16.65pt; font-family: Arial, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="data_cadastro">
    {$label public_tbl_pesquisa data_cadastro}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_data_cadastro}" style="left: 300px; top: 130px; line-height: 1; font-family: Arial, sans-serif; font-size: medium; font-style: normal; font-weight: 400; position: absolute;" data-fieldname="data_cadastro">
    {$data_cadastro_editcontrol}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_fotos}" style="left: 550px; top: 110px; line-height: 16.65pt; font-family: Arial, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="fotos">
    {$label public_tbl_pesquisa fotos}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_fotos} ff-focus" style="left: 550px; top: 130px; line-height: 1; font-family: Arial, sans-serif; font-size: medium; font-style: normal; font-weight: 400; position: absolute;" data-fieldname="fotos">
<LKJSTART_SELECTIONLKJ>    {$fotos_editcontrol}
<LKJEND_SELECTIONLKJ>  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_concluido}" style="left: 50px; top: 180px; line-height: 16.65pt; font-family: Arial, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="concluido">
    {$label public_tbl_pesquisa concluido}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_concluido}" style="left: 50px; top: 200px; line-height: 1; font-family: Arial, sans-serif; font-size: medium; font-style: normal; font-weight: 400; position: absolute;" data-fieldname="concluido">
    {$concluido_editcontrol}
  </DIV>
</DIV>
