{BEGIN mainmenu_block}
	<ul class="rnr-b-vmenu tree {$menustyle}" data-menuname="{$menuName}">
{BEGIN menu_collapse_expand_all}
	<li class="manage">
		<div>
			<a href="#"><img alt="*" src="images/plus.gif">
				<span class=expand>Abrir Menu</span>
				<span class="hide" style="display:none;">Fechar Menu</span>
			</a>
		</div>
	</li>
{END menu_collapse_expand_all}
	{BEGIN item1_menulink}
	<li id="item1" class="{$item1_groupclass} {$item1_current} menuLeaf" level=1>
			<div>
<a {$item1_menulink_attrs} class="{$item1_current}">{$item1_title}</a>
</div>

	</li>	
	{END item1_menulink}
	{BEGIN item2_menulink}
	<li id="item2" class="{$item2_groupclass} {$item2_current} menuLeaf" level=1>
			<div>
<a {$item2_menulink_attrs} class="{$item2_current}">{$item2_title}</a>
</div>

	</li>	
	{END item2_menulink}
	{BEGIN item3_menulink}
	<li id="item3" class="{$item3_groupclass} {$item3_current} menuLeaf" level=1>
			<div>
<a {$item3_menulink_attrs} class="{$item3_current}">{$item3_title}</a>
</div>

	</li>	
	{END item3_menulink}
	{BEGIN item4_menulink}
	<li id="item4" class="{$item4_groupclass} {$item4_current} menuLeaf" level=1>
			<div>
<a {$item4_menulink_attrs} class="{$item4_current}">{$item4_title}</a>
</div>

	</li>	
	{END item4_menulink}
	{BEGIN item5_menulink}
	<li id="item5" class="{$item5_groupclass} {$item5_current} menuLeaf" level=1>
			<div>
<a {$item5_menulink_attrs} class="{$item5_current}">{$item5_title}</a>
</div>

	</li>	
	{END item5_menulink}
</ul>
{END mainmenu_block}


