<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="cod_face">
	{$cod_face_editcontrol}
	</control>
	<control field="cod_log">
	{$cod_log_editcontrol}
	</control>
	<control field="tipo_log">
	{$tipo_log_editcontrol}
	</control>
	<control field="logradouro">
	{$logradouro_editcontrol}
	</control>
	<control field="bairro">
	{$bairro_editcontrol}
	</control>
	<control field="vbu_pvg">
	{$vbu_pvg_editcontrol}
	</control>
	<control field="agua">
	{$agua_editcontrol}
	</control>
	<control field="esgoto">
	{$esgoto_editcontrol}
	</control>
	<control field="pavimento">
	{$pavimento_editcontrol}
	</control>
	<control field="iluminacao">
	{$iluminacao_editcontrol}
	</control>
	<control field="energia">
	{$energia_editcontrol}
	</control>
	<control field="lixo">
	{$lixo_editcontrol}
	</control>
	<control field="enchente">
	{$enchente_editcontrol}
	</control>
	<control field="obs">
	{$obs_editcontrol}
	</control>
	<control field="zh">
	{$zh_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>