<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="cod_bairro">
	{$cod_bairro_editcontrol}
	</control>
	<control field="nomebairro">
	{$nomebairro_editcontrol}
	</control>
	<control field="obs">
	{$obs_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>