<DIV class="rnr-ff-block rnr-ff-container" style="background-position: 0% 0%; width: 1721px; height: 620px; overflow: auto; position: relative; background-image: none; background-attachment: scroll; background-repeat: repeat; background-color: transparent;">
  <DIV class="rnr-ff-cwrap {$fielddispclass_agua}" style="left: 50px; top: 60px; line-height: 16.65pt; font-family: Arial, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="agua">
    {$label public_tbl_pesquisa agua}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_agua}" style="left: 50px; top: 80px; line-height: 1; font-family: Arial, sans-serif; font-size: medium; font-style: normal; font-weight: 400; position: absolute;" data-fieldname="agua">
    {$agua_editcontrol}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_esgoto}" style="left: 530px; top: 60px; line-height: 16.65pt; font-family: Arial, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="esgoto">
    {$label public_tbl_pesquisa esgoto}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_esgoto}" style="left: 530px; top: 80px; line-height: 1; font-family: Arial, sans-serif; font-size: medium; font-style: normal; font-weight: 400; position: absolute;" data-fieldname="esgoto">
    {$esgoto_editcontrol}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_energia}" style="left: 210px; top: 150px; line-height: 16.65pt; font-family: Arial, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="energia">
    {$label public_tbl_pesquisa energia}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_energia}" style="left: 210px; top: 170px; line-height: 1; font-family: Arial, sans-serif; font-size: medium; font-style: normal; font-weight: 400; position: absolute;" data-fieldname="energia">
    {$energia_editcontrol}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_iluminacao}" style="left: 370px; top: 60px; line-height: 16.65pt; font-family: Arial, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="iluminacao">
    {$label public_tbl_pesquisa iluminacao}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_iluminacao}" style="left: 370px; top: 80px; line-height: 1; font-family: Arial, sans-serif; font-size: medium; font-style: normal; font-weight: 400; position: absolute;" data-fieldname="iluminacao">
    {$iluminacao_editcontrol}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_guia_sargeta}" style="left: 50px; top: 150px; line-height: 16.65pt; font-family: Arial, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="guia_sargeta">
    {$label public_tbl_pesquisa guia_sargeta}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_guia_sargeta}" style="left: 50px; top: 170px; line-height: 1; font-family: Arial, sans-serif; font-size: medium; font-style: normal; font-weight: 400; position: absolute;" data-fieldname="guia_sargeta">
    {$guia_sargeta_editcontrol}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_pavimento}" style="left: 210px; top: 60px; line-height: 16.65pt; font-family: Arial, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="pavimento">
    {$label public_tbl_pesquisa pavimento}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_pavimento}" style="left: 210px; top: 80px; line-height: 1; font-family: Arial, sans-serif; font-size: medium; font-style: normal; font-weight: 400; position: absolute;" data-fieldname="pavimento">
    {$pavimento_editcontrol}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_drenagem}" style="left: 530px; top: 150px; line-height: 16.65pt; font-family: Arial, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="drenagem">
    {$label public_tbl_pesquisa drenagem}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_drenagem}" style="left: 530px; top: 170px; line-height: 1; font-family: Arial, sans-serif; font-size: medium; font-style: normal; font-weight: 400; position: absolute;" data-fieldname="drenagem">
    {$drenagem_editcontrol}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_telefone}" style="left: 370px; top: 150px; line-height: 16.65pt; font-family: Arial, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="telefone">
    {$label public_tbl_pesquisa telefone}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_telefone}" style="left: 370px; top: 170px; line-height: 1; font-family: Arial, sans-serif; font-size: medium; font-style: normal; font-weight: 400; position: absolute;" data-fieldname="telefone">
    {$telefone_editcontrol}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_coleta}" style="left: 50px; top: 260px; line-height: 16.65pt; font-family: Arial, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="coleta">
    {$label public_tbl_pesquisa coleta}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_coleta}" style="left: 50px; top: 280px; line-height: 1; font-family: Arial, sans-serif; font-size: medium; font-style: normal; font-weight: 400; position: absolute;" data-fieldname="coleta">
    {$coleta_editcontrol}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_transporte}" style="left: 210px; top: 260px; line-height: 16.65pt; font-family: Arial, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="transporte">
    {$label public_tbl_pesquisa transporte}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_transporte}" style="left: 210px; top: 280px; line-height: 1; font-family: Arial, sans-serif; font-size: medium; font-style: normal; font-weight: 400; position: absolute;" data-fieldname="transporte">
    {$transporte_editcontrol}
  </DIV>
</DIV>
