<DIV class="rnr-ff-block rnr-ff-container" style="background-position: 0% 0%; width: 1721px; height: 618px; overflow: auto; position: relative; background-image: none; background-attachment: scroll; background-repeat: repeat; background-color: transparent;">
  <DIV class="rnr-ff-cwrap {$fielddispclass_testada}" style="left: 330px; top: 20px; line-height: 16.65pt; font-family: Arial; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="testada">
    {$label public_tbl_pesquisa testada}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_testada}" style="left: 330px; top: 40px; line-height: 1; font-family: Arial; font-size: medium; font-style: normal; font-weight: 400; position: absolute;" data-fieldname="testada">
    {$testada_editcontrol}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_area_terreno}" style="left: 30px; top: 20px; line-height: 16.65pt; font-family: Arial; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="area_terreno">
    {$label public_tbl_pesquisa area_terreno}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_area_terreno}" style="left: 30px; top: 40px; line-height: 1; font-family: Arial; font-size: medium; font-style: normal; font-weight: 400; position: absolute;" data-fieldname="area_terreno">
    {$area_terreno_editcontrol}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_forma}" style="left: 330px; top: 150px; line-height: 16.65pt; font-family: Arial; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="forma">
    {$label public_tbl_pesquisa forma}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_forma}" style="left: 330px; top: 170px; line-height: 1; font-family: Arial; font-size: medium; font-style: normal; font-weight: 400; position: absolute;" data-fieldname="forma">
    {$forma_editcontrol}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_topografia}" style="left: 30px; top: 270px; line-height: 16.65pt; font-family: Arial; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="topografia">
    {$label public_tbl_pesquisa topografia}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_topografia} ff-focus" style="left: 30px; top: 290px; line-height: 1; font-family: Arial; font-size: medium; font-style: normal; font-weight: 400; position: absolute;" data-fieldname="topografia">
    {$topografia_editcontrol}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_consist_solo}" style="left: 330px; top: 400px; line-height: 16.65pt; font-family: Arial; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="consist_solo">
    {$label public_tbl_pesquisa consist_solo}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_consist_solo}" style="left: 330px; top: 420px; line-height: 1; font-family: Arial; font-size: medium; font-style: normal; font-weight: 400; position: absolute;" data-fieldname="consist_solo">
    {$consist_solo_editcontrol}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_posicao}" style="left: 330px; top: 270px; line-height: 16.65pt; font-family: Arial; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="posicao">
    {$label public_tbl_pesquisa posicao}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_posicao}" style="left: 330px; top: 290px; line-height: 1; font-family: Arial; font-size: medium; font-style: normal; font-weight: 400; position: absolute;" data-fieldname="posicao">
    {$posicao_editcontrol}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_benfeitoria}" style="left: 30px; top: 400px; line-height: 16.65pt; font-family: Arial; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="benfeitoria">
    {$label public_tbl_pesquisa benfeitoria}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_benfeitoria}" style="left: 30px; top: 420px; line-height: 1; font-family: Arial; font-size: medium; font-style: normal; font-weight: 400; position: absolute;" data-fieldname="benfeitoria">
    {$benfeitoria_editcontrol}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_ocupacao}" style="left: 30px; top: 150px; line-height: 16.65pt; font-family: Arial; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="ocupacao">
    {$label public_tbl_pesquisa ocupacao}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_ocupacao}" style="left: 30px; top: 170px; line-height: 1; font-family: Arial; font-size: medium; font-style: normal; font-weight: 400; position: absolute;" data-fieldname="ocupacao">
    {$ocupacao_editcontrol}
  </DIV>
</DIV>
