<DIV class="rnr-ff-block rnr-ff-container" style="background-position: 0% 0%; width: 1721px; height: 629px; overflow: auto; position: relative; background-image: none; background-attachment: scroll; background-repeat: repeat; background-color: transparent;">
  <DIV class="rnr-ff-cwrap {$fielddispclass_area_iptu}" style="left: 40px; top: 30px; line-height: 16.65pt; font-family: Arial, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="area_iptu">
    {$label public_tbl_pesquisa area_iptu}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_area_iptu}" style="left: 40px; top: 50px; line-height: 1; font-family: Arial, sans-serif; font-size: medium; font-style: normal; font-weight: 400; position: absolute;" data-fieldname="area_iptu">
    {$area_iptu_editcontrol}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_area_estimada}" style="left: 180px; top: 30px; line-height: 16.65pt; font-family: Arial, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="area_estimada">
    {$label public_tbl_pesquisa area_estimada}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_area_estimada}" style="left: 180px; top: 50px; line-height: 1; font-family: Arial, sans-serif; font-size: medium; font-style: normal; font-weight: 400; position: absolute;" data-fieldname="area_estimada">
    {$area_estimada_editcontrol}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_area_atualizacao}" style="left: 330px; top: 30px; line-height: 16.65pt; font-family: Arial, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="area_atualizacao">
    {$label public_tbl_pesquisa area_atualizacao}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_area_atualizacao}" style="left: 320px; top: 50px; line-height: 1; font-family: Arial, sans-serif; font-size: medium; font-style: normal; font-weight: 400; position: absolute;" data-fieldname="area_atualizacao">
    {$area_atualizacao_editcontrol}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_classe}" style="left: 40px; top: 90px; line-height: 16.65pt; font-family: Arial, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="classe">
    {$label public_tbl_pesquisa classe}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_classe}" style="left: 40px; top: 110px; line-height: 1; font-family: Arial, sans-serif; font-size: medium; font-style: normal; font-weight: 400; position: absolute;" data-fieldname="classe">
    {$classe_editcontrol}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_tipologia_construtiva}" style="left: 300px; top: 90px; line-height: 16.65pt; font-family: Arial, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="tipologia_construtiva">
    {$label public_tbl_pesquisa tipologia_construtiva}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_tipologia_construtiva}" style="left: 300px; top: 110px; line-height: 1; font-family: Arial, sans-serif; font-size: medium; font-style: normal; font-weight: 400; position: absolute;" data-fieldname="tipologia_construtiva">
    {$tipologia_construtiva_editcontrol}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_padrao_construtivo}" style="left: 560px; top: 90px; line-height: 16.65pt; font-family: Arial, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="padrao_construtivo">
    {$label public_tbl_pesquisa padrao_construtivo}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_padrao_construtivo}" style="left: 560px; top: 110px; line-height: 1; font-family: Arial, sans-serif; font-size: medium; font-style: normal; font-weight: 400; position: absolute;" data-fieldname="padrao_construtivo">
    {$padrao_construtivo_editcontrol}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_estrutura}" style="left: 40px; top: 250px; line-height: 16.65pt; font-family: Arial, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="estrutura">
    {$label public_tbl_pesquisa estrutura}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_estrutura} ff-focus" style="left: 40px; top: 270px; line-height: 1; font-family: Arial, sans-serif; font-size: medium; font-style: normal; font-weight: 400; position: absolute;" data-fieldname="estrutura">
    {$estrutura_editcontrol}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_conservacao}" style="left: 820px; top: 90px; line-height: 16.65pt; font-family: Arial, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="conservacao">
    {$label public_tbl_pesquisa conservacao}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_conservacao}" style="left: 820px; top: 110px; line-height: 1; font-family: Arial, sans-serif; font-size: medium; font-style: normal; font-weight: 400; position: absolute;" data-fieldname="conservacao">
    {$conservacao_editcontrol}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_dependencia}" style="left: 300px; top: 250px; line-height: 16.65pt; font-family: Arial, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="dependencia">
    {$label public_tbl_pesquisa dependencia}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_dependencia}" style="left: 300px; top: 270px; line-height: 1; font-family: Arial, sans-serif; font-size: medium; font-style: normal; font-weight: 400; position: absolute;" data-fieldname="dependencia">
    {$dependencia_editcontrol}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_elevador}" style="left: 560px; top: 250px; line-height: 16.65pt; font-family: Arial, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="elevador">
    {$label public_tbl_pesquisa elevador}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_elevador}" style="left: 560px; top: 270px; line-height: 1; font-family: Arial, sans-serif; font-size: medium; font-style: normal; font-weight: 400; position: absolute;" data-fieldname="elevador">
    {$elevador_editcontrol}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_vao}" style="left: 40px; top: 400px; line-height: 16.65pt; font-family: Arial, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="vao">
    {$label public_tbl_pesquisa vao}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_vao}" style="left: 40px; top: 420px; line-height: 1; font-family: Arial, sans-serif; font-size: medium; font-style: normal; font-weight: 400; position: absolute;" data-fieldname="vao">
    {$vao_editcontrol}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_cobertura}" style="left: 820px; top: 330px; line-height: 16.65pt; font-family: Arial, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="cobertura">
    {$label public_tbl_pesquisa cobertura}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_cobertura}" style="left: 820px; top: 350px; line-height: 1; font-family: Arial, sans-serif; font-size: medium; font-style: normal; font-weight: 400; position: absolute;" data-fieldname="cobertura">
    {$cobertura_editcontrol}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_condominio}" style="left: 560px; top: 400px; line-height: 16.65pt; font-family: Arial, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="condominio">
    {$label public_tbl_pesquisa condominio}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_condominio}" style="left: 560px; top: 420px; line-height: 1; font-family: Arial, sans-serif; font-size: medium; font-style: normal; font-weight: 400; position: absolute;" data-fieldname="condominio">
    {$condominio_editcontrol}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_idade_edificacao}" style="left: 40px; top: 530px; line-height: 16.65pt; font-family: Arial, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="idade_edificacao">
    {$label public_tbl_pesquisa idade_edificacao}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_idade_edificacao}" style="left: 40px; top: 550px; line-height: 1; font-family: Arial, sans-serif; font-size: medium; font-style: normal; font-weight: 400; position: absolute;" data-fieldname="idade_edificacao">
    {$idade_edificacao_editcontrol}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_qt_dormitorio}" style="left: 300px; top: 530px; line-height: 16.65pt; font-family: Arial, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="qt_dormitorio">
    {$label public_tbl_pesquisa qt_dormitorio}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_qt_dormitorio}" style="left: 300px; top: 550px; line-height: 1; font-family: Arial, sans-serif; font-size: medium; font-style: normal; font-weight: 400; position: absolute;" data-fieldname="qt_dormitorio">
    {$qt_dormitorio_editcontrol}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_qt_banheiro}" style="left: 560px; top: 530px; line-height: 16.65pt; font-family: Arial, sans-serif; font-size: small; font-style: normal; font-weight: bold; position: absolute;" data-fieldname="qt_banheiro">
    {$label public_tbl_pesquisa qt_banheiro}
  </DIV>
  <DIV class="rnr-ff-cwrap {$fielddispclass_qt_banheiro}" style="left: 560px; top: 550px; line-height: 1; font-family: Arial, sans-serif; font-size: medium; font-style: normal; font-weight: 400; position: absolute;" data-fieldname="qt_banheiro">
    {$qt_banheiro_editcontrol}
  </DIV>
</DIV>
