<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="fonte">
	{$fonte_editcontrol}
	</control>
	<control 
	field="nome_fonte">
	{$nome_fonte_editcontrol}
	</control>
	<control 
	field="tel_fonte">
	{$tel_fonte_editcontrol}
	</control>
	<control 
	field="qt">
	{$qt_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
