<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="nome">
	{$nome_editcontrol}
	</control>
	<control 
	field="loginsys">
	{$loginsys_editcontrol}
	</control>
	<control 
	field="senha">
	{$senha_editcontrol}
	</control>
	<control 
	field="tipo">
	{$tipo_editcontrol}
	</control>
	<control 
	field="active">
	{$active_editcontrol}
	</control>
	<control 
	field="data">
	{$data_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
