.preview .runner-s-2 > * > * > .runner-toprow > .runner-cl img
{
height: 0px
}
.preview .runner-s-2 > * > * > .runner-toprow > .runner-cr img
{
height: 0px
}
.preview .runner-s-2 > * > * > .runner-bottomrow > .runner-cl img
{
height: 0px
}
.preview .runner-s-2 > * > * > .runner-bottomrow > .runner-cr img
{
height: 0px
}
.preview .runner-s-2 > * > * > * > .runner-cl ,
.preview .runner-s-2 > * > * > * > .runner-cl  > img,
.preview .runner-s-2 > * > * > * > .runner-cr ,
.preview .runner-s-2 > * > * > * > .runner-cr  > img
{
width: 0px
}
.preview .runner-s-2 > * > * > .runner-toprow.style1 > .runner-cl 
{

background: none;
background-color:#F9F9F9;
}
.preview .runner-s-2 > * > * > .runner-toprow.style1 > .runner-cc 
{

background: none;
background-color:#F9F9F9;
background-image: url('img2/sprite1.png?90882437');
background-position: 0px 0px;
background-repeat: repeat-x;
}
.preview .runner-s-2 > * > * > .runner-toprow.style1 > .runner-cr 
{

background: none;
background-color:#F9F9F9;
}
.preview .runner-s-2 > * > * > .runner-row.style1 > .runner-cl 
{

background: none;
background-color:#F9F9F9;
}
.preview .runner-s-2 > * > * > .runner-row.style1 > .runner-cc 
{

background: none;
background-color:#F9F9F9;
background-image: url('img2/sprite2.png?90882437');
background-position: left top;
background-repeat: repeat-x;
}
.preview .runner-s-2 > * > * > .runner-row.style1 > .runner-cr 
{

background: none;
background-color:#F9F9F9;
}
.preview .runner-s-2 > * > * > .runner-bottomrow.style1 > .runner-cl 
{

background: none;
background-color:#F9F9F9;
}
.preview .runner-s-2 > * > * > .runner-bottomrow.style1 > .runner-cc 
{

background: none;
background-color:#F9F9F9;
}
.preview .runner-s-2 > * > * > .runner-bottomrow.style1 > .runner-cr 
{

background: none;
background-color:#F9F9F9;
}
.preview .runner-s-2 > * > * > .runner-toprow.style2 > .runner-cl 
{

background: none;
background-color:#3366FF;
}
.preview .runner-s-2 > * > * > .runner-toprow.style2 > .runner-cc 
{

background: none;
background-color:#3366FF;
}
.preview .runner-s-2 > * > * > .runner-toprow.style2 > .runner-cr 
{

background: none;
background-color:#3366FF;
}
.preview .runner-s-2 > * > * > .runner-row.style2 > .runner-cl 
{

background: none;
background-color:#3366FF;
}
.preview .runner-s-2 > * > * > .runner-row.style2 > .runner-cc 
{

background: none;
background-color:#3366FF;
}
.preview .runner-s-2 > * > * > .runner-row.style2 > .runner-cr 
{

background: none;
background-color:#3366FF;
}
.preview .runner-s-2 > * > * > .runner-bottomrow.style2 > .runner-cl 
{

background: none;
background-color:#3366FF;
}
.preview .runner-s-2 > * > * > .runner-bottomrow.style2 > .runner-cc 
{

background: none;
background-color:#3366FF;
}
.preview .runner-s-2 > * > * > .runner-bottomrow.style2 > .runner-cr 
{

background: none;
background-color:#3366FF;
}
.preview .runner-s-2 > * > * > .runner-toprow.style3 > .runner-cl ,
.preview .runner-s-2 > * > * > .runner-toprow > .runner-cl.alt 
{

background: none;
background-color:#6699CC;
}
.preview .runner-s-2 > * > * > .runner-toprow.style3 > .runner-cc ,
.preview .runner-s-2 > * > * > .runner-toprow > .runner-cc.alt 
{

background: none;
background-color:#6699CC;
}
.preview .runner-s-2 > * > * > .runner-toprow.style3 > .runner-cr ,
.preview .runner-s-2 > * > * > .runner-toprow > .runner-cr.alt 
{

background: none;
background-color:#6699CC;
}
.preview .runner-s-2 > * > * > .runner-row.style3 > .runner-cl ,
.preview .runner-s-2 > * > * > .runner-row > .runner-cl.alt 
{

background: none;
background-color:#6699CC;
}
.preview .runner-s-2 > * > * > .runner-row.style3 > .runner-cc ,
.preview .runner-s-2 > * > * > .runner-row > .runner-cc.alt 
{

background: none;
background-color:#6699CC;
}
.preview .runner-s-2 > * > * > .runner-row.style3 > .runner-cr ,
.preview .runner-s-2 > * > * > .runner-row > .runner-cr.alt 
{

background: none;
background-color:#6699CC;
}
.preview .runner-s-2 > * > * > .runner-bottomrow.style3 > .runner-cl ,
.preview .runner-s-2 > * > * > .runner-bottomrow > .runner-cl.alt 
{

background: none;
background-color:#6699CC;
}
.preview .runner-s-2 > * > * > .runner-bottomrow.style3 > .runner-cc ,
.preview .runner-s-2 > * > * > .runner-bottomrow > .runner-cc.alt 
{

background: none;
background-color:#6699CC;
}
.preview .runner-s-2 > * > * > .runner-bottomrow.style3 > .runner-cr ,
.preview .runner-s-2 > * > * > .runner-bottomrow > .runner-cr.alt 
{

background: none;
background-color:#6699CC;
}
.preview .runner-s-2 > * > * > .runner-toprow > .runner-cc2 
{
background-image:none;
}
.preview .runner-s-2 > * > * > .runner-row > .runner-cc2 
{
background-image:none;
}
.preview .runner-s-2  > .runner-c
{
border: solid #DCDCDC 0px
}
.preview .runner-s-2 > * > * > .runner-toprow.style1 > *.runner-cc
{
color: #333333
}
.preview .runner-s-2 > * > * > .runner-row.style1 > *.runner-cc
{
color: #333333
}
.preview .runner-s-2 > * > * > .runner-toprow.style1 > *.runner-cc
{
font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.preview .runner-s-2 > * > * > .runner-row.style1 > *.runner-cc
{
font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.preview .runner-s-2 .runner-row.style1 > * > .runner-hc > * > * > .runner-cc
{
padding: 7px 4px 7px 4px;
}
.preview .runner-s-2 > * > * > .runner-toprow.header.style1 > .runner-cc 
{
padding: 7px 4px;
}
.preview .runner-s-2 > * > * > .runner-row.style1 > .runner-cc 
{
padding: 7px 4px;
}
.preview .runner-s-2 > * > * > .runner-bottomrow.style1 > .runner-cc 
{
padding: 0px;
}
.preview .runner-s-2 > * > * > .runner-toprow.style2 > *.runner-cc
{
color: #FFFFFF
}
.preview .runner-s-2 > * > * > .runner-row.style2 > *.runner-cc
{
color: #FFFFFF
}
.preview .runner-s-2 > * > * > .runner-toprow.style2 > *.runner-cc
{
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.preview .runner-s-2 > * > * > .runner-row.style2 > *.runner-cc
{
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.preview .runner-s-2 .runner-row.style2 > * > .runner-hc > * > * > .runner-cc
{
padding: 5px 4px 5px 4px;
}
.preview .runner-s-2 > * > * > .runner-toprow.header.style2 > .runner-cc 
{
padding: 5px 4px;
}
.preview .runner-s-2 > * > * > .runner-row.style2 > .runner-cc 
{
padding: 5px 4px;
}
.preview .runner-s-2 > * > * > .runner-bottomrow.style2 > .runner-cc 
{
padding: 0px;
}
.preview .runner-s-2 > * > * > .runner-toprow.style3 > *.runner-cc,
.preview .runner-s-2 > * > * > .runner-toprow > *.runner-cc
{
color: #FFFF00
}
.preview .runner-s-2 > * > * > .runner-row.style3 > *.runner-cc,
.preview .runner-s-2 > * > * > .runner-row > *.runner-cc
{
color: #FFFF00
}
.preview .runner-s-2 > * > * > .runner-toprow.style3 > *.runner-cc,
.preview .runner-s-2 > * > * > .runner-toprow > *.runner-cc
{
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.preview .runner-s-2 > * > * > .runner-row.style3 > *.runner-cc,
.preview .runner-s-2 > * > * > .runner-row > *.runner-cc
{
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.preview .runner-s-2 .runner-row.style3 > * > .runner-hc > * > * > .runner-cc
{
padding: 5px 4px 5px 4px;
}
.preview .runner-s-2 > * > * > .runner-toprow.header.style3 > .runner-cc ,
.preview .runner-s-2 > * > * > .runner-toprow.header > .runner-cc.alt 
{
padding: 5px 4px;
}
.preview .runner-s-2 > * > * > .runner-row.style3 > .runner-cc ,
.preview .runner-s-2 > * > * > .runner-row > .runner-cc.alt 
{
padding: 5px 4px;
}
.preview .runner-s-2 > * > * > .runner-bottomrow.style3 > .runner-cc ,
.preview .runner-s-2 > * > * > .runner-bottomrow > .runner-cc.alt 
{
padding: 0px;
}
.preview .runner-s-2 .runner-cc  span.runner-btnframe > .runner-button-img img,
.preview  .runner-wrapper .runner-s-2 .runner-cc  span.runner-btnframe > .runner-button-img img
{
margin: 6px
}
.preview .runner-s-2 .runner-cc  span.runner-btnframe > a.runner-button,
.preview  .runner-wrapper .runner-s-2 .runner-cc  span.runner-btnframe > a.runner-button
{
line-height:25px; padding: 0 10px;
}
.preview .runner-s-2 .runner-cc  span.runner-btnframe,
.preview  .runner-wrapper .runner-s-2 .runner-cc  span.runner-btnframe
{
height:25px;
}
.preview .runner-s-2 .runner-cc  span.runner-btnframe > .runner-btnleft,
.preview .runner-s-2 .runner-cc  span.runner-btnframe > .runner-btnright,
.preview  .runner-wrapper .runner-s-2 .runner-cc  span.runner-btnframe > .runner-btnleft,
.preview  .runner-wrapper .runner-s-2 .runner-cc  span.runner-btnframe > .runner-btnright
{
background-image: url('btnbutton1/sprite1.png?90882375')
}
.preview .runner-s-2 .runner-cc  span.runner-btnframe > .runner-btnleft,
.preview .runner-s-2 .runner-cc  span.runner-btnframe > .runner-btnright,
.preview  .runner-wrapper .runner-s-2 .runner-cc  span.runner-btnframe > .runner-btnleft,
.preview  .runner-wrapper .runner-s-2 .runner-cc  span.runner-btnframe > .runner-btnright
{
background-position:0px 0px;
}
.preview .runner-s-2 .runner-cc  span.runner-btnframe.hover > .runner-btnleft,
.preview .runner-s-2 .runner-cc  span.runner-btnframe.hover > .runner-btnright,
.preview  .runner-wrapper .runner-s-2 .runner-cc  span.runner-btnframe.hover > .runner-btnleft,
.preview  .runner-wrapper .runner-s-2 .runner-cc  span.runner-btnframe.hover > .runner-btnright
{
background-position:0px -25px;
}
.preview .runner-s-2 .runner-cc  span.runner-btnframe.press > .runner-btnleft,
.preview .runner-s-2 .runner-cc  span.runner-btnframe.press > .runner-btnright,
.preview  .runner-wrapper .runner-s-2 .runner-cc  span.runner-btnframe.press > .runner-btnleft,
.preview  .runner-wrapper .runner-s-2 .runner-cc  span.runner-btnframe.press > .runner-btnright
{
background-position:0px -50px;
}
.preview .runner-s-2 .runner-cc  span.runner-btnframe.disabled > .runner-btnleft,
.preview .runner-s-2 .runner-cc  span.runner-btnframe.disabled > .runner-btnright,
.preview  .runner-wrapper .runner-s-2 .runner-cc  span.runner-btnframe.disabled > .runner-btnleft,
.preview  .runner-wrapper .runner-s-2 .runner-cc  span.runner-btnframe.disabled > .runner-btnright
{
background-position:0px -75px;
}
.preview .runner-s-2 .runner-cc  span.runner-btnframe > .runner-btnleft,
.preview  .runner-wrapper .runner-s-2 .runner-cc  span.runner-btnframe > .runner-btnleft
{
height:25px; top:0; left:0; right:1px;
}
.preview .runner-s-2 .runner-cc  span.runner-btnframe > .runner-btnright,
.preview  .runner-wrapper .runner-s-2 .runner-cc  span.runner-btnframe > .runner-btnright
{
width: 500px; right: 0; clip:rect(auto, auto, auto, 499px); height: 25px;
}
.preview .runner-s-2 .runner-cc  span.runner-btnframe > a.runner-button,
.preview  .runner-wrapper .runner-s-2 .runner-cc  span.runner-btnframe > a.runner-button
{
color: #333333
}
.preview .runner-s-2 .runner-cc  span.runner-btnframe.hover > a.runner-button,
.preview  .runner-wrapper .runner-s-2 .runner-cc  span.runner-btnframe.hover > a.runner-button
{
color: #333333
}
.preview .runner-s-2 .runner-cc  span.runner-btnframe.press > a.runner-button,
.preview  .runner-wrapper .runner-s-2 .runner-cc  span.runner-btnframe.press > a.runner-button
{
color: #333333
}
.preview .runner-s-2 .runner-cc  span.runner-btnframe.disabled > a.runner-button,
.preview  .runner-wrapper .runner-s-2 .runner-cc  span.runner-btnframe.disabled > a.runner-button
{
color: #A9A9A9
}
.preview .runner-s-2 .runner-cc  span.runner-btnframe > a.runner-button,
.preview  .runner-wrapper .runner-s-2 .runner-cc  span.runner-btnframe > a.runner-button
{
font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.preview .runner-s-disabled-2 > * > * > .runner-toprow > .runner-cl img
{
height: 0px
}
.preview .runner-s-disabled-2 > * > * > .runner-toprow > .runner-cr img
{
height: 0px
}
.preview .runner-s-disabled-2 > * > * > .runner-bottomrow > .runner-cl img
{
height: 0px
}
.preview .runner-s-disabled-2 > * > * > .runner-bottomrow > .runner-cr img
{
height: 0px
}
.preview .runner-s-disabled-2 > * > * > * > .runner-cl ,
.preview .runner-s-disabled-2 > * > * > * > .runner-cl  > img,
.preview .runner-s-disabled-2 > * > * > * > .runner-cr ,
.preview .runner-s-disabled-2 > * > * > * > .runner-cr  > img
{
width: 0px
}
.preview .runner-s-disabled-2 > * > * > .runner-toprow.style1 > .runner-cl 
{

background: none;
background-color:#EFEFEF;
}
.preview .runner-s-disabled-2 > * > * > .runner-toprow.style1 > .runner-cc 
{

background: none;
background-color:#EFEFEF;
background-image: url('imgdisabled-2/sprite1.png?90882437');
background-position: 0px 0px;
background-repeat: repeat-x;
}
.preview .runner-s-disabled-2 > * > * > .runner-toprow.style1 > .runner-cr 
{

background: none;
background-color:#EFEFEF;
}
.preview .runner-s-disabled-2 > * > * > .runner-row.style1 > .runner-cl 
{

background: none;
background-color:#EFEFEF;
}
.preview .runner-s-disabled-2 > * > * > .runner-row.style1 > .runner-cc 
{

background: none;
background-color:#EFEFEF;
background-image: url('imgdisabled-2/sprite2.png?90882437');
background-position: left top;
background-repeat: repeat-x;
}
.preview .runner-s-disabled-2 > * > * > .runner-row.style1 > .runner-cr 
{

background: none;
background-color:#EFEFEF;
}
.preview .runner-s-disabled-2 > * > * > .runner-bottomrow.style1 > .runner-cl 
{

background: none;
background-color:#EFEFEF;
}
.preview .runner-s-disabled-2 > * > * > .runner-bottomrow.style1 > .runner-cc 
{

background: none;
background-color:#EFEFEF;
}
.preview .runner-s-disabled-2 > * > * > .runner-bottomrow.style1 > .runner-cr 
{

background: none;
background-color:#EFEFEF;
}
.preview .runner-s-disabled-2 > * > * > .runner-toprow.style2 > .runner-cl 
{

background: none;
background-color:#CCCCCC;
}
.preview .runner-s-disabled-2 > * > * > .runner-toprow.style2 > .runner-cc 
{

background: none;
background-color:#CCCCCC;
}
.preview .runner-s-disabled-2 > * > * > .runner-toprow.style2 > .runner-cr 
{

background: none;
background-color:#CCCCCC;
}
.preview .runner-s-disabled-2 > * > * > .runner-row.style2 > .runner-cl 
{

background: none;
background-color:#CCCCCC;
}
.preview .runner-s-disabled-2 > * > * > .runner-row.style2 > .runner-cc 
{

background: none;
background-color:#CCCCCC;
}
.preview .runner-s-disabled-2 > * > * > .runner-row.style2 > .runner-cr 
{

background: none;
background-color:#CCCCCC;
}
.preview .runner-s-disabled-2 > * > * > .runner-bottomrow.style2 > .runner-cl 
{

background: none;
background-color:#CCCCCC;
}
.preview .runner-s-disabled-2 > * > * > .runner-bottomrow.style2 > .runner-cc 
{

background: none;
background-color:#CCCCCC;
}
.preview .runner-s-disabled-2 > * > * > .runner-bottomrow.style2 > .runner-cr 
{

background: none;
background-color:#CCCCCC;
}
.preview .runner-s-disabled-2 > * > * > .runner-toprow.style3 > .runner-cl ,
.preview .runner-s-disabled-2 > * > * > .runner-toprow > .runner-cl.alt 
{

background: none;
background-color:#D1D1D1;
}
.preview .runner-s-disabled-2 > * > * > .runner-toprow.style3 > .runner-cc ,
.preview .runner-s-disabled-2 > * > * > .runner-toprow > .runner-cc.alt 
{

background: none;
background-color:#D1D1D1;
}
.preview .runner-s-disabled-2 > * > * > .runner-toprow.style3 > .runner-cr ,
.preview .runner-s-disabled-2 > * > * > .runner-toprow > .runner-cr.alt 
{

background: none;
background-color:#D1D1D1;
}
.preview .runner-s-disabled-2 > * > * > .runner-row.style3 > .runner-cl ,
.preview .runner-s-disabled-2 > * > * > .runner-row > .runner-cl.alt 
{

background: none;
background-color:#D1D1D1;
}
.preview .runner-s-disabled-2 > * > * > .runner-row.style3 > .runner-cc ,
.preview .runner-s-disabled-2 > * > * > .runner-row > .runner-cc.alt 
{

background: none;
background-color:#D1D1D1;
}
.preview .runner-s-disabled-2 > * > * > .runner-row.style3 > .runner-cr ,
.preview .runner-s-disabled-2 > * > * > .runner-row > .runner-cr.alt 
{

background: none;
background-color:#D1D1D1;
}
.preview .runner-s-disabled-2 > * > * > .runner-bottomrow.style3 > .runner-cl ,
.preview .runner-s-disabled-2 > * > * > .runner-bottomrow > .runner-cl.alt 
{

background: none;
background-color:#D1D1D1;
}
.preview .runner-s-disabled-2 > * > * > .runner-bottomrow.style3 > .runner-cc ,
.preview .runner-s-disabled-2 > * > * > .runner-bottomrow > .runner-cc.alt 
{

background: none;
background-color:#D1D1D1;
}
.preview .runner-s-disabled-2 > * > * > .runner-bottomrow.style3 > .runner-cr ,
.preview .runner-s-disabled-2 > * > * > .runner-bottomrow > .runner-cr.alt 
{

background: none;
background-color:#D1D1D1;
}
.preview .runner-s-disabled-2 > * > * > .runner-toprow > .runner-cc2 
{
background-image:none;
}
.preview .runner-s-disabled-2 > * > * > .runner-row > .runner-cc2 
{
background-image:none;
}
.preview .runner-s-disabled-2  > .runner-c
{
border: solid #E5E5E5 0px
}
.preview .runner-s-disabled-2 > * > * > .runner-toprow.style1 > *.runner-cc
{
color: #B3B3B3
}
.preview .runner-s-disabled-2 > * > * > .runner-row.style1 > *.runner-cc
{
color: #B3B3B3
}
.preview .runner-s-disabled-2 > * > * > .runner-toprow.style1 > *.runner-cc
{
font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.preview .runner-s-disabled-2 > * > * > .runner-row.style1 > *.runner-cc
{
font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.preview .runner-s-disabled-2 .runner-row.style1 > * > .runner-hc > * > * > .runner-cc
{
padding: 7px 4px 7px 4px;
}
.preview .runner-s-disabled-2 > * > * > .runner-toprow.header.style1 > .runner-cc 
{
padding: 7px 4px;
}
.preview .runner-s-disabled-2 > * > * > .runner-row.style1 > .runner-cc 
{
padding: 7px 4px;
}
.preview .runner-s-disabled-2 > * > * > .runner-bottomrow.style1 > .runner-cc 
{
padding: 0px;
}
.preview .runner-s-disabled-2 > * > * > .runner-toprow.style2 > *.runner-cc
{
color: #F1F1F1
}
.preview .runner-s-disabled-2 > * > * > .runner-row.style2 > *.runner-cc
{
color: #F1F1F1
}
.preview .runner-s-disabled-2 > * > * > .runner-toprow.style2 > *.runner-cc
{
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.preview .runner-s-disabled-2 > * > * > .runner-row.style2 > *.runner-cc
{
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.preview .runner-s-disabled-2 .runner-row.style2 > * > .runner-hc > * > * > .runner-cc
{
padding: 5px 4px 5px 4px;
}
.preview .runner-s-disabled-2 > * > * > .runner-toprow.header.style2 > .runner-cc 
{
padding: 5px 4px;
}
.preview .runner-s-disabled-2 > * > * > .runner-row.style2 > .runner-cc 
{
padding: 5px 4px;
}
.preview .runner-s-disabled-2 > * > * > .runner-bottomrow.style2 > .runner-cc 
{
padding: 0px;
}
.preview .runner-s-disabled-2 > * > * > .runner-toprow.style3 > *.runner-cc,
.preview .runner-s-disabled-2 > * > * > .runner-toprow > *.runner-cc
{
color: #D6D6D6
}
.preview .runner-s-disabled-2 > * > * > .runner-row.style3 > *.runner-cc,
.preview .runner-s-disabled-2 > * > * > .runner-row > *.runner-cc
{
color: #D6D6D6
}
.preview .runner-s-disabled-2 > * > * > .runner-toprow.style3 > *.runner-cc,
.preview .runner-s-disabled-2 > * > * > .runner-toprow > *.runner-cc
{
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.preview .runner-s-disabled-2 > * > * > .runner-row.style3 > *.runner-cc,
.preview .runner-s-disabled-2 > * > * > .runner-row > *.runner-cc
{
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.preview .runner-s-disabled-2 .runner-row.style3 > * > .runner-hc > * > * > .runner-cc
{
padding: 5px 4px 5px 4px;
}
.preview .runner-s-disabled-2 > * > * > .runner-toprow.header.style3 > .runner-cc ,
.preview .runner-s-disabled-2 > * > * > .runner-toprow.header > .runner-cc.alt 
{
padding: 5px 4px;
}
.preview .runner-s-disabled-2 > * > * > .runner-row.style3 > .runner-cc ,
.preview .runner-s-disabled-2 > * > * > .runner-row > .runner-cc.alt 
{
padding: 5px 4px;
}
.preview .runner-s-disabled-2 > * > * > .runner-bottomrow.style3 > .runner-cc ,
.preview .runner-s-disabled-2 > * > * > .runner-bottomrow > .runner-cc.alt 
{
padding: 0px;
}
.preview .runner-s-disabled-2 .runner-cc  span.runner-btnframe > .runner-button-img img,
.preview  .runner-wrapper .runner-s-disabled-2 .runner-cc  span.runner-btnframe > .runner-button-img img
{
margin: 6px
}
.preview .runner-s-disabled-2 .runner-cc  span.runner-btnframe > a.runner-button,
.preview  .runner-wrapper .runner-s-disabled-2 .runner-cc  span.runner-btnframe > a.runner-button
{
line-height:25px; padding: 0 10px;
}
.preview .runner-s-disabled-2 .runner-cc  span.runner-btnframe,
.preview  .runner-wrapper .runner-s-disabled-2 .runner-cc  span.runner-btnframe
{
height:25px;
}
.preview .runner-s-disabled-2 .runner-cc  span.runner-btnframe > .runner-btnleft,
.preview .runner-s-disabled-2 .runner-cc  span.runner-btnframe > .runner-btnright,
.preview  .runner-wrapper .runner-s-disabled-2 .runner-cc  span.runner-btnframe > .runner-btnleft,
.preview  .runner-wrapper .runner-s-disabled-2 .runner-cc  span.runner-btnframe > .runner-btnright
{
background-image: url('btndisabledbutton1/sprite1.png?90882390')
}
.preview .runner-s-disabled-2 .runner-cc  span.runner-btnframe > .runner-btnleft,
.preview .runner-s-disabled-2 .runner-cc  span.runner-btnframe > .runner-btnright,
.preview  .runner-wrapper .runner-s-disabled-2 .runner-cc  span.runner-btnframe > .runner-btnleft,
.preview  .runner-wrapper .runner-s-disabled-2 .runner-cc  span.runner-btnframe > .runner-btnright
{
background-position:0px 0px;
}
.preview .runner-s-disabled-2 .runner-cc  span.runner-btnframe.hover > .runner-btnleft,
.preview .runner-s-disabled-2 .runner-cc  span.runner-btnframe.hover > .runner-btnright,
.preview  .runner-wrapper .runner-s-disabled-2 .runner-cc  span.runner-btnframe.hover > .runner-btnleft,
.preview  .runner-wrapper .runner-s-disabled-2 .runner-cc  span.runner-btnframe.hover > .runner-btnright
{
background-position:0px -25px;
}
.preview .runner-s-disabled-2 .runner-cc  span.runner-btnframe.press > .runner-btnleft,
.preview .runner-s-disabled-2 .runner-cc  span.runner-btnframe.press > .runner-btnright,
.preview  .runner-wrapper .runner-s-disabled-2 .runner-cc  span.runner-btnframe.press > .runner-btnleft,
.preview  .runner-wrapper .runner-s-disabled-2 .runner-cc  span.runner-btnframe.press > .runner-btnright
{
background-position:0px -50px;
}
.preview .runner-s-disabled-2 .runner-cc  span.runner-btnframe.disabled > .runner-btnleft,
.preview .runner-s-disabled-2 .runner-cc  span.runner-btnframe.disabled > .runner-btnright,
.preview  .runner-wrapper .runner-s-disabled-2 .runner-cc  span.runner-btnframe.disabled > .runner-btnleft,
.preview  .runner-wrapper .runner-s-disabled-2 .runner-cc  span.runner-btnframe.disabled > .runner-btnright
{
background-position:0px -75px;
}
.preview .runner-s-disabled-2 .runner-cc  span.runner-btnframe > .runner-btnleft,
.preview  .runner-wrapper .runner-s-disabled-2 .runner-cc  span.runner-btnframe > .runner-btnleft
{
height:25px; top:0; left:0; right:1px;
}
.preview .runner-s-disabled-2 .runner-cc  span.runner-btnframe > .runner-btnright,
.preview  .runner-wrapper .runner-s-disabled-2 .runner-cc  span.runner-btnframe > .runner-btnright
{
width: 500px; right: 0; clip:rect(auto, auto, auto, 499px); height: 25px;
}
.preview .runner-s-disabled-2 .runner-cc  span.runner-btnframe > a.runner-button,
.preview  .runner-wrapper .runner-s-disabled-2 .runner-cc  span.runner-btnframe > a.runner-button
{
color: #B3B3B3
}
.preview .runner-s-disabled-2 .runner-cc  span.runner-btnframe.hover > a.runner-button,
.preview  .runner-wrapper .runner-s-disabled-2 .runner-cc  span.runner-btnframe.hover > a.runner-button
{
color: #B3B3B3
}
.preview .runner-s-disabled-2 .runner-cc  span.runner-btnframe.press > a.runner-button,
.preview  .runner-wrapper .runner-s-disabled-2 .runner-cc  span.runner-btnframe.press > a.runner-button
{
color: #B3B3B3
}
.preview .runner-s-disabled-2 .runner-cc  span.runner-btnframe.disabled > a.runner-button,
.preview  .runner-wrapper .runner-s-disabled-2 .runner-cc  span.runner-btnframe.disabled > a.runner-button
{
color: #D6D6D6
}
.preview .runner-s-disabled-2 .runner-cc  span.runner-btnframe > a.runner-button,
.preview  .runner-wrapper .runner-s-disabled-2 .runner-cc  span.runner-btnframe > a.runner-button
{
font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
